.page-container {
    width: 100%;
}

.basket-header,
.basket-container,
.basket-footer {
    width: 1200px;
    margin: 0 auto;
}

.basket-header {
    padding: 40px 0 90px;
    .title {
        width: 100%;
        padding-bottom: 40px;
        color: #45515e;
        h2 {
            font-size: 34px;
            line-height: 40px;
            font-weight: normal;
            text-align: center;
        }
        p {
            position: relative;
            width: 164px;
            margin: 0 auto;
            font-size: 18px;
            line-height: 20px;
            text-align: center;
            &:after {
                display: block;
                position: absolute;
                top: 10px;
                left: 0;
                z-index: 9;
                content: '';
                width: 100%;
                height: 1px;
                background-color: #45515e;
            }
            span {
                position: relative;
                z-index: 99;
                padding: 0 15px;
                display: inline-block;
                background-color: #fff;
            }
        }
    }
    .process {
        position: relative;
        width: 460px;
        height: 18px;
        margin: 0 auto;
        .step {
            position: absolute;
            top: 50%;
            z-index: 10;
            width: 10px;
            height: 10px;
            margin-top: -5px;
            background-color: #c8c8c8;
            border-radius: 50%;
            p {
                position: absolute;
                left: 50%;
                top: 26px;
                width: 150px;
                height: 26px;
                margin-left: -75px;
                line-height: 26px;
                text-align: center;
                color: #c8c8c8;
            }
            &.active {
                margin-top: -9px;
                background-color: #fff;
                border: 4px solid #e9546b;
                p {
                    color: #e9546b;
                }
            }
        }
        .step1 {
            left: 0;
            margin-left: -5px;
        }
        .step2 {
            left: 50%;
            margin-left: -5px;
        }
        .step3 {
            right: 0;
            margin-right: -5px;
        }
        .line {
            position: absolute;
            top: 8px;
            z-index: 9;
            width: 50%;
            height: 1px;
            background-color: #c8c8c8;
            &.active {
                background-color: #e9546b;
            }
        }
        .line1 {
            left: 0;
        }
        .line2 {
            right: 0;
        }
    }
}

.basket-container {
    .list-wrapper {
        width: 1160px;
        margin: 0 auto;
    }
    .list-header {
        width: 100%;
        line-height: 30px;
        color: #505050;
        span {
            float: left;
            display: inline-block;
            text-align: center;
            &.h-product {
                width: 310px;
                margin-left: 50px;
            }
            &.h-attr {
                width: 140px;
            }
            &.h-amount {
                width: 200px;
            }
            &.h-spec {
                width: 110px;
            }
            &.h-price {
                width: 120px;
            }
            &.h-privilege {
                width: 140px;
            }
            &.h-operate {
                width: 90px;
            }
        }
    }
    .list-container {
        width: 100%;
        > ul {
            position: relative;
            width: 100%;
            &:before {
                display: block;
                position: absolute;
                top: 0;
                left: 50px;
                content: '';
                width: 60px;
                height: 24px;
                background: {
                    repeat: no-repeat;
                    size: cover;
                    position: center center;
                }
            }
        }
        .surprise-list {
            border-top: 1px solid #45515e;
            &:before {
                background-image: url('../imgs/basket/surprise_list_title.png');
            }
        }
        .regular-list {
            border-top: 1px solid #e9546b;
            &:before {
                background-image: url('../imgs/basket/regular_list_title.png');
            }
        }
        .part-list {
            border-top: 1px solid #f58c1e;
            &:before {
                background-image: url('../imgs/basket/part_list_title.png');
            }
        }
        .item {
            position: relative;
            width: 100%;
            border-bottom: 1px dotted #b3a3a3;
            color: #505050;
            .item-content {
                width: 100%;
                padding: 30px 0;
                > div {
                    float: left;
                    height: 120px;
                    p {
                        line-height: 24px;
                    }
                }
                .c-ckbox {
                    position: relative;
                    width: 50px;
                    .btn-ckbox {
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 32px;
                        height: 32px;
                        margin: -16px 0 0 -16px;
                        border-radius: 50%;
                        background: {
                            image: url('../imgs/icons/icon_basket_ckbox.png');
                            repeat: no-repeat;
                            size: cover;
                            position: center center;
                        }
                        &.checked {
                            background-image: url('../imgs/icons/icon_basket_ckbox_checked.png');
                        }
                    }
                }
                .c-product {
                    width: 310px;
                    .img {
                        display: block;
                        float: left;
                        width: 120px;
                        height: 120px;
                        overflow: hidden;
                        img {
                            width: 100%;
                        }
                    }
                    .text {
                        float: right;
                        width: 150px;
                        height: 100%;
                        p {
                            text-align: left;
                            &.cn {
                                line-height: 24px;
                            }
                            &.en {
                                font-size: 12px;
                                line-height: 18px;
                            }
                        }
                    }
                }
                .c-attr {
                    width: 140px;
                }
                .c-amount {
                    position: relative;
                    width: 200px;
                    .content {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 160px;
                        height: 32px;
                        margin: -16px 0 0 -80px;
                        .amount-wrap {
                            width: 70px;
                            height: 30px;
                            margin: 0 auto;
                            border: 1px solid #b4b4b4;
                            border-radius: 2px;
                            .txt-amount {
                                border: none;
                                outline: none;
                                -webkit-appearance: none;
                                width: 70px;
                                height: 30px;
                                line-height: 30px;
                                text-align: center;
                            }
                        }
                        .btn {
                            display: block;
                            position: absolute;
                            top: 3px;
                            width: 25px;
                            height: 25px;
                            background: {
                                repeat: no-repeat;
                                size: cover;
                                position: center center;
                            }
                            border-radius: 50%;
                        }
                        .btn-sub {
                            left: 10px;
                            background-image: url('../imgs/icons/icon_sub_enabled.png');
                            &.disabled {
                                background-image: url('../imgs/icons/icon_sub_disabled.png');
                            }
                        }
                        .btn-add {
                            right: 10px;
                            background-image: url('../imgs/icons/icon_add_enabled.png');
                            &.disabled {
                                background-image: url('../imgs/icons/icon_add_disabled.png');
                            }
                        }
                    }
                }
                .c-spec {
                    width: 110px;
                }
                .c-price {
                    width: 120px;
                }
                .c-privilege {
                    width: 140px;
                }
                .c-operate {
                    width: 90px;
                    .btn-del {
                        color: #4682be;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .view-surprise {
                display: block;
                position: absolute;
                top: 140px;
                left: 210px;
                width: 190px;
                height: 30px;
                border-radius: 15px;
                background-color: #f2b4be;
                color: #fff;
                line-height: 30px;
                text-align: center;
                &:hover {
                    text-decoration: underline;
                }
                &:before {
                    display: block;
                    position: absolute;
                    top: 4px;
                    left: 11px;
                    content: '';
                    width: 22px;
                    height: 22px;
                    background: {
                        image: url('../imgs/icons/icon_surprise_box.png');
                        repeat: no-repeat;
                        size: cover;
                        position: center center;
                    }
                }
                &:after {
                    display: block;
                    position: absolute;
                    top: 8px;
                    right: 17px;
                    content: '';
                    width: 10px;
                    height: 14px;
                    background: {
                        image: url('../imgs/icons/icon_surprise_arrow_down.png');
                        repeat: no-repeat;
                        size: cover;
                        position: center center;
                    }
                }
                &.active {
                    background-color: #e9546b;
                    &:after {
                        background-image: url('../imgs/icons/icon_surprise_arrow_up.png');
                    }
                }
            }
            .surprise-wrapper {
                width: 950px;
                padding: 20px 0;
                margin-left: auto;
                margin-bottom: 20px;
                background-color: #f5f5f5;
            }
            .surprise-container {
                width: 910px;
                margin: 0 auto;
                .sec {
                    width: 100%;
                    padding: 10px 0;
                    color: #505050;
                    border-bottom: 1px solid #e1e1e1;
                    .title {
                        float: left;
                        width: 180px;
                        line-height: 34px;
                    }
                    .content {
                        float: right;
                        width: 660px;
                        margin-right: 50px;
                        .radio-box {
                            float: left;
                            width: 110px;
                            height: 34px;
                            line-height: 34px;
                            p {
                                position: relative;
                                display: inline-block;
                                padding-left: 35px;
                                cursor: pointer;
                                &:before {
                                    display: block;
                                    position: absolute;
                                    top: 50%;
                                    left: 0;
                                    width: 24px;
                                    height: 24px;
                                    margin-top: -12px;
                                    content: '';
                                    background: {
                                        image: url('../imgs/icons/icon_basket_radio_circle.png');
                                        repeat: no-repeat;
                                        size: cover;
                                        position: center center;
                                    }
                                }
                                &.checked {
                                    color: #e9546b;
                                }
                                &.checked:before {
                                    background-image: url('../imgs/icons/icon_basket_radio_circle_checked.png');
                                }
                            }
                        }
                        .other-box {
                            width: auto;
                            p,
                            input {
                                float: left;
                            }
                            input {
                                position: relative;
                                top: 2px;
                                margin-left: 15px;
                                width: 150px;
                                height: 28px;
                                line-height: 28px;
                                border: 1px solid #e6e6e6;
                                text-indent: 8px;
                            }
                        }
                    }
                }
                .sec-summary {
                    width: 100%;
                    padding: 10px 0;
                    color: #505050;
                    .title {
                    	line-height: 34px;
                    }
                    .content {
                    	width: 100%;
                    	.summary-wrap {
                    		float: left;
                    		width: 550px;
	                    	.txt-summary {
	                    		width: 530px;
	                    		height: 60px;
	                    		padding: 10px;
	                    		outline: none;
	                    		border: 1px solid #e6e6e6;
	                    		border-radius: 2px;
	                    		resize: none;
	                    		line-height: 20px;
	                    	}
	                    	p {
	                    		text-align: right;
	                    		line-height: 34px;
	                    		color: #b4b4b4;
	                    	}
                    	}
                    	.upload-wrap {
                    		float: right;
                    		width: 300px;
                    		.img {
                    			float: left;
                    			width: 90px;
                    			height: 90px;
                    			padding: 5px;
                    			border-radius: 2px;
                    			background-color: #fff;
                    			img {
                    				width: 100%;
                    				border-radius: 5px;
                    			}
                    			&.uploaded {
                    				position: relative;
                    				&:hover .btn-preview {
                    					display: block;
                    					position: absolute;
                    					top: 5px;
                    					left: 5px;
                    					width: 90px;
                    					height: 90px;
                    					border-radius: 5px;
                    					background: {
                    						image: url('../imgs/basket/icon_basket_preview.png');
                    						repeat: no-repeat;
                    						size: cover;
                    						position: center center;
                    					}
                    				}
                    			}
                    		}
                    		.text {
                    			float: right;
                    			width: 170px;
                    			p {
                    				line-height: 56px;
                    			}
                    			a {
                    				display: block;
                    				float: left;
                    				height: 30px;
                    				line-height: 30px;
                    				text-align: center;
                    				border-radius: 2px;
                    			}
                    			a:hover {
                    				text-decoration: underline;
                    			}
                    			.btn-upload {
                    				width: 100px;
                    				border: 1px solid #e9546b;
                    				color: #e9546b;
                    			}
                    			.btn-reupload {
                    				width: 80px;
                    				border: 1px solid #e9546b;
                    				color: #e9546b;
                    			}
                    			.btn-del {
                    				width: 60px;
                    				margin-left: 8px;
                    				border: 1px solid #a0a0a0;
                    				color: #a0a0a0;
                    			}
                    		}
                    	}
                    }
                    .btn-confirm {
                    	display: block;
                    	width: 130px;
                    	height: 38px;
                    	margin: 10px auto 0;
                    	line-height: 38px;
                    	font-size: 16px;
                    	text-align: center;
                    	background-color: #e9546b;
                    	color: #fff;
                    	border-radius: 2px;
                    	&:hover {
                    		text-decoration: underline;
                    	}
                    }
                }
            }
        }
    }
}
