.page-container {
    width: 100%;
    background-color: #fff;
    img {
        border: none;
        vertical-align: top;
    }
}

.product-intro {
    width: 1200px;
    margin: 40px auto 0;
    padding-bottom: 60px;
    .preview-wrap {
        float: left;
        width: 540px;
        .preview {
            width: 540px;
            height: 540px;
            a {
                display: block;
                width: 540px;
                height: 540px;
                > img {
                    width: 540px;
                    height: 540px;
                }
            }
        }
        .thumbs {
            position: relative;
            width: 540px;
            padding: 20px 0 30px;
            background-color: #f5f5f5;
            .btn {
                display: block;
                position: absolute;
                top: 50%;
                width: 21px;
                height: 41px;
                margin-top: -21px;
                background: {
                    image: url('../imgs/icons/icon_arrow_preview.png');
                    repeat: no-repeat;
                }
            }
            .btn-prev {
                left: 5px;
                background-position: 0 0;
                &.disabled {
                    cursor: default;
                    background-position: 0 -41px;
                }
            }
            .btn-next {
                right: 5px;
                background-position: -21px 0;
                &.disabled {
                    cursor: default;
                    background-position: -21px -41px;
                }
            }
            .thumblist-wrap {
                position: relative;
                width: 470px;
                height: 110px;
                margin: 0 auto;
                padding: 2px;
                overflow: hidden;
            }
            .thumblist {
                position: absolute;
                li {
                    float: left;
                    display: inline-block;
                    width: 110px;
                    height: 110px;
                    margin-right: 10px;
                    &:last-of-type {
                        margin-right: 0;
                    }
                    &.last-thumb {
                        margin-right: 0;
                    }
                    a {
                        display: block;
                        width: 108px;
                        height: 108px;
                        border: 1px solid #dcdcdc;
                        &.zoomThumbActive {
                            outline: 2px solid #e9546b;
                        }
                    }
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
    .introinfo-wrap {
        position: relative;
        float: right;
        width: 580px;
        > .title {
            width: 100%;
            line-height: 40px;
            font-size: 24px;
            color: #45515e;
            span {
                display: inline-block;
                float: left;
                &.en {
                    margin-left: 26px;
                    font-size: 20px;
                }
            }
        }
        > .desc {
            width: 100%;
            padding: 8px 0 24px;
            color: #b5b5b5;
            border-bottom: 1px dotted #b3a3a3;
            p {
                line-height: 24px;
            }
        }
        .specific-wrap {
            width: 100%;
            padding-top: 24px;
            border-bottom: 1px dotted #b3a3a3;
            .section {
                width: 100%;
                margin-bottom: 20px;
                .title {
                    float: left;
                    width: 50px;
                    line-height: 45px;
                    color: #505050;
                }
                .content {
                    float: right;
                    width: 520px;
                }
            }
            .specifics {
                .spec {
                    display: block;
                    float: left;
                    width: 129px;
                    height: 45px;
                    margin-bottom: 1px;
                    line-height: 45px;
                    text-align: center;
                    border-left: 1px solid #fff;
                    font-size: 16px;
                    color: #45515e;
                    background-color: #f5f5f5;
                    cursor: pointer;
                    &.active,
                    &:hover {
                        position: relative;
                        color: #e9546b;
                        &:after {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 3px;
                            content: '';
                            background-color: #e9546b;
                        }
                    }
                }
            }
            .types {
                li {
                    position: relative;
                    width: 100%;
                    height: 45px;
                    color: #45515e;
                    background-color: #f5f5f5;
                    cursor: pointer;
                    overflow: hidden;
                    span,
                    i {
                        display: inline-block;
                        line-height: 45px;
                    }
                    .price {
                        float: left;
                        margin-left: 45px;
                        font-size: 18px;
                    }
                    .name {
                        float: right;
                        margin-right: 66px;
                        font-size: 16px;
                    }
                    .radio {
                        display: block;
                        position: absolute;
                        top: 11px;
                        right: 25px;
                        width: 24px;
                        height: 24px;
                        background: {
                            image: url('../imgs/icons/icon_radio_detail.png');
                            repeat: no-repeat;
                            size: cover;
                            position: center center;
                        }
                    }
                    &.checked {
                        color: #fff;
                        background-color: #e9546b;
                        i {
                            font-size: 28px;
                        }
                        .radio {
                            background-image: url('../imgs/icons/icon_radio_detail_checked.png');
                        }
                    }
                    i {
                        font-style: normal;
                    }
                }
            }
        }
        .tips {
            width: 100%;
            padding: 10px 0;
            border-bottom: 1px dotted #b3a3a3;
            li {
                position: relative;
                float: left;
                width: 290px;
                line-height: 30px;
                color: #b3b3b3;
                &:after {
                    display: block;
                    position: absolute;
                    top: 11px;
                    left: 11px;
                    width: 8px;
                    height: 8px;
                    content: '';
                    background: {
                        image: url('../imgs/icons/icon_circle_fill.png');
                        repeat: no-repeat;
                        size: cover;
                        position: center center;
                    }
                }
            }
            p {
                padding-left: 40px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        .addons {
            position: relative;
            width: 100%;
            margin-bottom: 55px;
            ul {
                width: 100%;
            }
            li {
                position: relative;
                width: 100%;
                padding: 8px 0;
                border-bottom: 1px dotted #b3a3a3;
                cursor: pointer;
                .img {
                    float: left;
                    display: block;
                    width: 60px;
                    height: 60px;
                    margin-left: 54px;
                    border: 1px solid #dcdcdc;
                    img {
                        width: 100%;
                    }
                }
                .content {
                    float: right;
                    width: 448px;
                    height: 62px;
                    .title {
                        float: left;
                        width: 360px;
                        p {
                            line-height: 24px;
                            text-align: left;
                            color: #787878;
                        }
                    }
                    .price {
                        display: block;
                        float: right;
                        width: 78px;
                        line-height: 62px;
                        text-align: center;
                        color: #e9546b;
                    }
                }
                &:before {
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 20px;
                    width: 22px;
                    height: 22px;
                    margin-top: -11px;
                    content: '';
                    background: {
                        image: url('../imgs/icons/icon_radio_rect.png');
                        repeat: no-repeat;
                        size: cover;
                        position: center center;
                    }
                }
                &.checked {
                    outline: 1px solid #e9546b;
                    outline-offset: -1px;
                    &:before {
                        background-image: url('../imgs/icons/icon_radio_rect_checked.png');
                    }
                }
            }
            .switcher {
                position: absolute;
                left: 50%;
                bottom: -12px;
                width: 160px;
                height: 22px;
                margin-left: -80px;
                background-color: #fff;
                .btn-switch {
                    display: block;
                    width: 150px;
                    height: 20px;
                    margin: 0 auto;
                    border: 1px solid #c8c8c8;
                    line-height: 20px;
                    color: #c8c8c8;
                    text-align: center;
                    border-radius: 11px;
                    span {
                        display: inline-block;
                        width: 9px;
                        height: 12px;
                        margin-left: 10px;
                        background: {
                            image: url('../imgs/icons/icon_db_arrow_down.png');
                            repeat: no-repeat;
                            size: cover;
                            position: center center;
                        }
                    }
                    &.expanded span {
                        background-image: url('../imgs/icons/icon_db_arrow_up.png');
                    }
                }
            }
        }
        .amount {
            width: 100%;
            padding: 27px 0;
            .title {
                float: left;
                width: 50px;
                height: 35px;
                line-height: 35px;
                color: #505050;
            }
            .content {
                position: relative;
                float: left;
                width: 230px;
                height: 35px;
                .amount-wrap {
                    width: 138px;
                    height: 33px;
                    margin: 0 auto;
                    border: 1px solid #45515e;
                    .txt-amount {
                        border: none;
                        outline: none;
                        -webkit-appearance: none;
                        width: 138px;
                        height: 33px;
                        line-height: 33px;
                        text-align: center;
                    }
                }
                .btn {
                    display: block;
                    position: absolute;
                    top: 5px;
                    width: 25px;
                    height: 25px;
                    background: {
                        repeat: no-repeat;
                        size: cover;
                        position: center center;
                    }
                    border-radius: 50%;
                }
                .btn-sub {
                    left: 10px;
                    background-image: url('../imgs/icons/icon_sub_enabled.png');
                    &.disabled {
                        background-image: url('../imgs/icons/icon_sub_disabled.png');
                    }
                }
                .btn-add {
                    right: 10px;
                    background-image: url('../imgs/icons/icon_add_enabled.png');
                    &.disabled {
                        background-image: url('../imgs/icons/icon_add_disabled.png');
                    }
                }
            }
        }
        .operates {
            width: 100%;
            .btn {
                display: block;
                float: left;
                width: 230px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                border-radius: 2px;
                font-size: 18px;
                color: #fff;
                &:hover {
                    text-decoration: underline;
                }
            }
            .favor {
                width: 40px;
                margin-left: 10px;
                .img {
                    display: block;
                    width: 40px;
                    height: 34px;
                    background: {
                        image: url('../imgs/icons/icon_detail_favor.png');
                        repeat: no-repeat;
                        size: 34px 31px;
                        position: center center;
                    }
                }
                .txt {
                    display: block;
                    width: 100%;
                    line-height: 16px;
                    color: #c8c8c8;
                    font-size: 14px;
                }
                &.selected {
                    .img {
                        background-image: url('../imgs/icons/icon_detail_favor_selected.png');
                    }
                    .txt {
                        color: #e9546b;
                    }
                }
            }
            .add-basket {
                margin-left: 20px;
                background-color: #f2b4be;
            }
            .buy-immediate {
                margin-left: 20px;
                background-color: #e9546b;
            }
        }
        .qrcode-scan {
            position: absolute;
            top: 0;
            right: 10px;
            z-index: 9;
            width: 150px;
            height: 40px;
            &:after {
                display: block;
                position: absolute;
                top: 50%;
                left: 14px;
                width: 20px;
                height: 20px;
                margin-top: -10px;
                content: '';
                background: {
                    image: url('../imgs/icons/icon_qrcode_scan.png');
                    repeat: no-repeat;
                    size: cover;
                    position: center center;
                }
            }
            p {
                padding-left: 40px;
                line-height: 40px;
                color: #505050;
            }
            &:hover {
                background-color: #f0f0f0;
            }
            .qrcode {
                display: none;
                position: absolute;
                bottom: -150px;
                left: 0;
                width: 148px;
                height: 148px;
                border: 1px solid #f0f0f0;
                img {
                    width: 100%;
                }
            }
        }
    }
}

.surprised-intro {
    width: 1200px;
    height: 363px;
    margin: 0 auto 60px;
    background: {
        image: url('../imgs/detail/surprised_intro.jpg');
        repeat: no-repeat;
        size: cover;
        position: center center;
    }
}

.product-detail {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
    .header {
        width: 100%;
        border-bottom: 1px solid #e9546b;
        > a {
            display: inline-block;
            float: left;
            width: 160px;
            height: 42px;
            line-height: 42px;
            border-bottom: 4px solid #fff;
            font-size: 16px;
            color: #45515e;
            text-align: center;
            &:hover {
                text-decoration: underline;
            }
            &.active {
                color: #e9546b;
                border-bottom-color: #e9546b;
            }
        }
    }
    .container {
        width: 100%;
        .c-wrap {
            width: 100%;
            display: none;
            &.active {
                display: block;
            }
        }
        .description {
            width: 100%;
            padding: 50px 0 40px;
            .attrs {
                float: left;
                width: 650px;
                .img {
                    width: 650px;
                    height: 400px;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }
                .text {
                    width: 590px;
                    padding: 25px 30px;
                    background-color: #fafafa;
                    li {
                        width: 100%;
                        line-height: 34px;
                        color: #505050;
                    }
                    .title {
                        float: left;
                        width: 80px;
                        text-align: right;
                        font-weight: bold;
                    }
                    .content {
                        float: right;
                        width: 490px;
                    }
                    .sweet {
                        span {
                            display: inline-block;
                            float: left;
                            position: relative;
                            top: 4px;
                            width: 18px;
                            height: 22px;
                            margin-right: 5px;
                            background: {
                                image: url('../imgs/icons/icon_sweet.png');
                                repeat: no-repeat;
                                size: cover;
                                position: center center;
                            }
                            &.active {
                                background-image: url('../imgs/icons/icon_sweet_active.png');
                            }
                        }
                    }
                }
            }
            .materials {
                float: right;
                width: 450px;
                .img {
                    width: 450px;
                    height: 310px;
                    margin-bottom: 20px;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }
                .flags {
                    width: 100%;
                    li {
                        float: left;
                        width: 225px;
                        height: 30px;
                        margin-bottom: 20px;
                    }
                    .flag {
                        float: left;
                        width: 50px;
                        height: 30px;
                        overflow: hidden;
                        img {
                            width: 100%;
                        }
                    }
                    p {
                        display: inline-block;
                        float: right;
                        width: 155px;
                        line-height: 30px;
                        color: #828282;
                    }
                }
                .brands {
                    width: 100%;
                    li {
                        width: 100%;
                        margin-bottom: 30px;
                        &.last {
                            margin-bottom: 0;
                        }
                        .brand {
                            float: left;
                            width: 138px;
                            height: 78px;
                            border: 1px solid #dcdcdc;
                            img {
                                width: 100%;
                            }
                        }
                        .text {
                            float: right;
                            width: 290px;
                            height: 80px;
                            p {
                                line-height: 24px;
                                text-align: left;
                                color: #828282;
                            }
                        }
                    }
                }
            }
        }
        .groups {
            position: relative;
            margin-top: 60px;
            background-color: #fafafa;
            .title {
                position: absolute;
                top: -70px;
                left: 50%;
                width: 370px;
                height: 170px;
                margin-left: -175px;
                img {
                    width: 100%;
                }
            }
        }
        .hierarchy {
            width: 100%;
            height: 510px;
            .content {
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 750px;
                height: 410px;
                margin-left: -375px;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
        }
        .descs {
            width: 100%;
            padding: 50px 0 60px;
            li {
                width: 100%;
                margin-bottom: 40px;
                &.full {
                    margin-bottom: 0;
                }
            }
            .img {
                width: 810px;
                height: 480px;
                img {
                    width: 100%;
                }
            }
            .text {
                position: relative;
                width: 390px;
                height: 480px;
                font-size: 14px;
                color: #838383;
                background-color: #fafafa;
                p {
                    position: absolute;
                    bottom: 60px;
                    left: 0;
                    padding: 0 20px;
                    line-height: 24px;
                }
            }
            .fl {
                .img {
                    float: left;
                }
                .text {
                    float: right;
                }
            }
            .fr {
                .img {
                    float: right;
                }
                .text {
                    float: left;
                }
            }
            .fullimg {
                width: 1200px;
                height: 480px;
                img {
                    width: 100%;
                }
            }
        }
        .specifications {
            width: 100%;
            height: 470px;
            .content {
                width: 100%;
                height: 470px;
                img {
                    width: 100%;
                }
            }
        }
        .comments {
            position: relative;
            width: 880px;
            padding: 20px 0 50px;
            .cmtlist {
                width: 100%;
            }
            .cmt {
                width: 860px;
                padding: 30px 0 30px 20px;
                border-bottom: 1px solid #f0f0f0;
            }
            .cmt-header {
                width: 100%;
                line-height: 24px;
                margin-bottom: 14px;
                color: #45515e;
                p {
                    display: inline-block;
                    float: left;
                }
                .info {
                    padding-left: 36px;
                    background: {
                        image: url('../imgs/icons/icon_user.png');
                        repeat: no-repeat;
                        size: 22px 24px;
                        position: left center;
                    }
                }
                .level {
                    margin-left: 50px;
                    span {
                        display: inline-block;
                        float: left;
                        position: relative;
                        top: 4px;
                        width: 17px;
                        height: 17px;
                        margin-right: 3px;
                        background: {
                            image: url('../imgs/icons/icon_comment_star.png');
                            repeat: no-repeat;
                            size: cover;
                            position: center center;
                        }
                        &.active {
                            background-image: url('../imgs/icons/icon_comment_star_active.png');
                        }
                    }
                }
            }
            .cmt-body {
                line-height: 24px;
                color: #323232;
            }
            .navigator {
                position: absolute;
                right: 0;
                bottom: 0;
                width: auto;
                a,
                span {
                    float: left;
                    display: inline-block;
                    line-height: 28px;
                    margin-left: 10px;
                    font-size: 14px;
                    color: #4f4f4f;
                }
                a {
                    width: 28px;
                    height: 28px;
                    text-align: center;
                    border: 1px solid #e6e6e6;
                    &:hover {
                        text-decoration: underline;
                    }
                    &.prev,
                    &.next {
                        background-color: #f5f5f5;
                        border-color: #c8c8c8;
                    }
                    &.active,
                    &:hover {
                        border-color: #e9546b;
                    }
                }
            }
        }
    }
}
