.page-container {
    width: 100%;
    background-color: #fff;
}

.helper-wrap {
    width: 1200px;
    margin: 40px auto 50px;
}

.helper-menu {
    float: left;
    width: 270px;
    .title {
        width: 100%;
        height: 80px;
        line-height: 80px;
        text-align: center;
        font-size: 24px;
        color: #fff;
        background-color: #e9546b;
    }
    .section {
        width: 100%;
        ul {
            width: 100%;
        }
        li {
            width: 100%;
            border-bottom: 1px solid #f0f0f0;
            a {
                display: block;
                height: 50px;
                line-height: 50px;
                text-align: center;
                color: #a0a0a0;
            }
            &.active a,
            &:hover a {
                position: relative;
                color: #e9546b;
                &:after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 4px;
                    height: 50px;
                    content: '';
                    background-color: #e9546b;
                }
            }
        }
    }
}

.helper-container {
    float: right;
    width: 860px;
    .container-wrap {
        width: 100%;
        .header {
            width: 100%;
            padding-top: 18px;
            border-bottom: 1px solid #45515e;
            h2 {
                height: 42px;
                line-height: 42px;
                font-size: 16px;
                font-weight: normal;
                color: #45515e;
                span {
                    display: inline-block;
                    font-size: 14px;
                    margin-left: 10px;
                }
            }
        }
        .body {
            width: 100%;
        }
    }
}


/* help center page */
.hc-wrap {
    .body {
        padding-top: 16px;
        .help-center {
            width: 100%;
            li {
                width: 100%;
                font-size: 14px;
                &.question {
                    height: 42px;
                    line-height: 42px;
                    color: #45515e;
                }
                &.answer {
                    margin-bottom: 10px;
                    line-height: 24px;
                    color: #a0a0a0;
                    text-align: justify;
                }
            }
        }
    }
}

/* delivery range page */
.dr-wrap {
    .body {
        padding-top: 20px;
        img {
            display: inline-block;
            width: 100%;
        }
    }
}

/* about us page */
.au-wrap {
    .body {
        padding-top: 16px;
        .about-us {
            width: 100%;
            dt {
                height: 42px;
                line-height: 42px;
                color: #45515e; 
            }
            dd {
                line-height: 24px;
                color: #a0a0a0;
                text-align: justify; 
                text-indent: 28px;
            }
        }
        img {
            display: inline-block;
            width: 100%;
            margin-top: 45px;
        }
    }
}

/* join us page */
.ju-wrap {
    .ju-list {
        .ju-item { 
            width: 100%; 
            padding: 20px 0; 
            &.last { 
                padding-bottom: 0;
            }
            .apply-job {
                width: 858px;
                height: 44px;
                padding: 12px 0;
                border: 1px solid #e6e6e6;
                margin-top: -1px;
                line-height: 44px;
                span { 
                    display: inline-block; 
                    margin-left: 24px; 
                }
            }
            .btn-apply-job { 
                float: left; 
                display: block; 
                width: 180px; 
                height: 44px; 
                background: #e9546b; 
                border-radius: 2px;
                margin-left: 46px; 
                font-size: 16px; 
                line-height: 44px; 
                text-align: center; 
                color: #fff; 
            }
        }
        .inner-list {
            width: 100%;
            .inner-item {
                position: relative;
                float: left;
                width: 858px;
                border: 1px solid #e6e6e6;
                margin-top: -1px;
                .inner-title {
                    position: absolute;
                    top: 50%;
                    width: 98px;
                    height: 24px;
                    margin-top: -12px;
                    line-height: 24px;
                    p { 
                        text-align: center;
                    }
                }
                .inner-content {
                    float: right;
                    width: 760px;
                    p { 
                        padding: 8px 0 8px 20px; 
                        border-left: 1px solid #e6e6e6; 
                        margin-left: -1px; 
                        line-height: 24px;  
                    }
                    span { 
                        display: inline-block; 
                        width: 100%; 
                    }
                }
            }
            .name-item,.date-item,.num-item,.type-item {
                width: 428px;
                .inner-content { 
                    float: right; 
                    width: 330px; 
                }
            }
            .name-item {
                .inner-content p {
                    font-weight: bold; 
                    color: #000; 
                } 
            }
        }
        
    }
}

/* brand story page */
.bs-wrap {
    .body {
        padding-top: 30px;
        img {
            display: inline-block;
            width: 100%;
            margin-bottom: 30px;
        }
        .brand-story {
            width: 100%;
            li {
                margin-bottom: 20px;
                line-height: 24px;
                color: #a0a0a0;
                text-align: justify; 
                text-indent: 28px;
            }
        }
    }
}