.home-page {
	background-color: #fff;
}
.main-slider {
	width: 100%;

	.slider-wrapper {
		position: relative;
		width: 1200px;
		height: 680px;
		margin: 0 auto;
	}

	.swiper-container {
		position: absolute;
		top: 0;
		left: 50%;
		width: 1920px;
		height: 680px;
		margin-left: -960px;
		border-bottom: 2px solid #dfe0e2;
	}

	.swiper-slide {
		display: block;
	}

	.swiper-pagination {
		position: relative;
		top: -30px;
		text-align: center;

		.swiper-pagination-switch {
			display: inline-block;
			width: 30px;
			height: 6px;
			margin: 0 5px;
			border-radius: 3px;
			background-color: #45515e;
		}

		.swiper-active-switch {
			background-color: #e9546b;
		}
	}

	.btn-slide {
		display: none;
		position: absolute;
		top: 50%;
		z-index: 99;
		width: 53px;
		height: 86px;
		margin-top: -43px;
		background: {
			image: url('../imgs/icons/icon_arrow_slide.png');
			repeat: no-repeat;
		}

		&.prev-slide {
			left: -53px;
			background-position: 0 0;

			&:hover {
				background-position: 0 -86px;
			}
		}
		&.next-slide {
			right: -53px;
			background-position: -53px 0;

			&:hover {
				background-position: -53px -86px;
			}
		}
	}

	&:hover .btn-slide {
		display: block;
	}
}