.list-page {
	background-color: #fff;
}

.page-container {
	width: 1200px;
	margin: 0 auto;
}

.list-categories {
	width: 100%;
	padding: 15px 0;
	margin: 40px 0;
	border-bottom: 1px solid #45515e;

	li {
		width: 100%;
		line-height: 20px;
		margin-top: 10px;

		.title {
			display: inline-block;
			float: left;
			width: 60px;
			color: #505050;
			text-align: right;
		}

		.content {
			float: left;

			a {
				display: inline-block;
				float: left;
				width: 60px;
				height: 20px;
				margin-left: 20px;
				line-height: 20px;
				text-align: center;
				border-radius: 2px;
				color: #505050;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;

				&.active, &:hover {
					background-color: #e9546b;
					color: #fff;
				}
			}
		}

		&.first {
			margin-top: 0;
		}
	}
}

.list-contents {
	width: 100%;
	margin-bottom: 30px;

	li {
		position: relative;
		float: left;
		width: 291px;
		margin: 0 12px 10px 0;
		overflow: hidden;

		&.last-col {
			margin-right: 0;
		}

		.img {
			position: relative;
			display: block;
			width: 291px;
			height: 291px;
			overflow: hidden;

			img {
				width: 100%;
			}

			.favor {
				display: none;
				position: absolute;
				right: 14px;
				bottom: 14px;
				z-index: 99;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				overflow: hidden;
				background: {
					image: url('../imgs/icons/icon_favor.png');
					repeat: no-repeat;
					size: cover;
					position: center center;
				}

				&:hover {
					background-image: url('../imgs/icons/icon_favor_hover.png');
				}
				&.selected {
					display: block;
					background-image: url('../imgs/icons/icon_favor_selected.png');
				}
			}
		}

		.text {
			width: 100%;
			height: 109px;

			p {
				margin-left: 20px;
				color: #635859;

				&.desc {
					padding: 14px 0 11px;
					font-size: 14px;
					color: #b5b5b5;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}

				&.name {
					.cn {
						padding-top: 10px;
						font-size: 14px;
						line-height: 30px;
					}

					.en {
						font-size: 10px;
						line-height: 30px;
					}
				}

				&.attr {
					padding-top: 5px;
					color: #e9546b;

					.price {
						font-size: 14px;
					}

					.pound {
						font-size: 12px;
					}
				}
			}
		}

		&:hover {
			outline: 1px solid #e9546b;

			.img .favor {
				display: block;
			}
		}

		&.diy {
			width: 594px;
			height: 400px;

			&:hover {
				outline: none;
			}

			.img {
				width: 100%;
				height: 100%;
			}

			.diy-immediately {
				display: block;
				position: absolute;
				right: 30px;
				bottom: 120px;
				width: 140px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				color: #fff;
				border: 1px solid #fff;
				border-radius: 16px;

				&:hover {
					background-color: rgba(255, 255, 255, 0.25);
				}
			}
		}
	}
}