.mooncake-page{
  width: 100%;
  height: 5224px;
  background-size: 100% 5224px;
  background: url("./../imgs/mooncake-festival/bg.png");
}
.page-container{
  width: 1200px;
  margin: 0 auto;
  position: relative;
  .top{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1400px;
    height: 736px;
    background-size: 1400px 736px;
    background-image: url(./../imgs/mooncake-festival/top.png);
  }
  .mooncake-content{
    padding-top: 880px;
    .txt{
      width: 1200px;
      height: 950px;
      background-size: 1200px 950px;
      &.txt1{
        background-image: url(./../imgs/mooncake-festival/txt1.png);
      }
      &.txt2{
        background-image: url(./../imgs/mooncake-festival/txt2.png);
      }
    }
    .cake1{
      margin-top: 150px;
      margin-bottom: 200px;
      a{
        display: block;
        width: 1200px;
        height: 670px;
        background-size: 1200px 670px;
        background-image: url(./../imgs/mooncake-festival/cake1.png);
      }
    }
    .cake2{
      margin-top: 200px;
      a{
        display: block;
        width: 1200px;
        height: 890px;
        background-size: 1200px 890px;
        background-image: url(./../imgs/mooncake-festival/cake2.png);
      }
    }
  }
}