.page-container {
    width: 100%;
}

.settlement-header,
.settlement-container {
    width: 1200px;
    margin: 0 auto;
}

.settlement-header {
    padding: 40px 0 68px;
    .title {
        width: 100%;
        padding-bottom: 40px;
        color: #45515e;
        h2 {
            font-size: 34px;
            line-height: 40px;
            font-weight: normal;
            text-align: center;
        }
        p {
            position: relative;
            width: 164px;
            margin: 0 auto;
            font-size: 18px;
            line-height: 20px;
            text-align: center;
            &:after {
                display: block;
                position: absolute;
                top: 10px;
                left: 0;
                z-index: 9;
                content: '';
                width: 100%;
                height: 1px;
                background-color: #45515e;
            }
            span {
                position: relative;
                z-index: 99;
                padding: 0 15px;
                display: inline-block;
                background-color: #fff;
            }
        }
    }
    .process {
        position: relative;
        width: 460px;
        height: 18px;
        margin: 0 auto;
        .step {
            position: absolute;
            top: 50%;
            z-index: 10;
            width: 10px;
            height: 10px;
            margin-top: -5px;
            background-color: #c8c8c8;
            border-radius: 50%;
            p {
                position: absolute;
                left: 50%;
                top: 26px;
                width: 150px;
                height: 26px;
                margin-left: -75px;
                line-height: 26px;
                text-align: center;
                color: #c8c8c8;
            }
            &.passed {
                background-color: #f2b4be;
                p {
                    color: #f2b4be;
                }
            }
            &.active {
                margin-top: -9px;
                background-color: #fff;
                border: 4px solid #e9546b;
                p {
                    color: #e9546b;
                }
            }
        }
        .step1 {
            left: 0;
            margin-left: -5px;
        }
        .step2 {
            left: 50%;
            margin-left: -5px;
        }
        .step3 {
            right: 0;
            margin-right: -5px;
        }
        .line {
            position: absolute;
            top: 8px;
            z-index: 9;
            width: 50%;
            height: 1px;
            background-color: #c8c8c8;
            &.passed {
                background-color: #f2b4be;
            }
            &.active {
                background-color: #e9546b;
            }
        }
        .line1 {
            left: 0;
        }
        .line2 {
            right: 0;
        }
    }
}

.settlement-container {
    .list-wrapper {
        width: 1160px;
        margin: 0 auto;
        .list-header {
            width: 100%;
            line-height: 30px;
            color: #505050;
            span {
                float: left;
                display: inline-block;
                text-align: center;
                &.h-product {
                    width: 280px;
                }
                &.h-attr {
                    width: 150px;
                }
                &.h-amount {
                    width: 150px;
                }
                &.h-privilege {
                    width: 150px;
                }
                &.h-price {
                    width: 150px;
                }
                &.h-activity {
                    width: 150px;
                }
                &.h-check {
                    width: 130px;
                }
            }
        }
        .list-box {
            width: 100%;
            border-bottom: 1px solid #45515e;
            &.no-line {
                border: none;
            }
            h3 {
                position: relative;
                height: 60px;
                padding-left: 20px;            
                font-size: 16px;
                line-height: 60px;
                color: #45515e;
                &:after {
                    position: absolute;
                    top: 28px;
                    left: 0;
                    display: block;
                    width: 8px;
                    height: 8px;
                    content: '';
                    background: url(../imgs/icons/icon_title_circle_gray.png) no-repeat;
                }
                &.address-info {
                    margin-top: 60px;
                }
                &.payment-info {
                    height: 98px;
                    line-height: 98px;
                    &:after {
                        top: 50px;
                    }
                }
                &.coupon-info {
                    height: 90px;
                    margin-top: 10px;
                    line-height: 90px;
                    &:after {
                        top: 42px;
                    }
                }
                &.more-info {
                    margin-top: 36px;
                }
            }
            .tips {
                display: none;
                height: 50px;
                border-top: 1px solid #45515e;
                line-height: 50px;
                text-align: center;
                color: #b4b4b4;
            }
            .btns {
                border-top: 1px solid #e6e6e6;
                &.line-blue {
                    border-color: #45515e;
                }
                a.btn-fold {
                    position: relative;
                    display: block;
                    width: 140px;
                    height: 22px;
                    background-color: #f0f0f0;
                    margin: 0 auto;
                    font-size: 12px;
                    line-height: 22px;
                    text-indent: 48px;
                    &:after {
                        position: absolute;
                        top: 5px;
                        left: 90px;
                        display: block;
                        width: 10px;
                        height: 14px;
                        content: '';
                        background: url(../imgs/icons/icon_gray_arrow_down.png) no-repeat;
                        z-index: 999;
                    }
                    &.active:after {
                        background: url(../imgs/icons/icon_gray_arrow_up.png) no-repeat;
                    }    
                }
            }
        }
    }
    
    .list-container {
        > ul {
            position: relative;
            width: 100%;
            &:before {
                position: absolute;
                top: 0;
                left: 20px;
                display: block;
                width: 60px;
                height: 24px;
                content: '';
                background: {
                    repeat: no-repeat;
                    size: cover;
                    position: center center;
                }
            }
        }
        .surprise-list {
            border-top: 1px solid #e9546b;
            &:before {
                background-image: url('../imgs/basket/surprise_list_title.png');
            }
        }
        .regular-list {
            border-top: 1px solid #45515e;
            &:before {
                background-image: url('../imgs/basket/regular_list_title.png');
            }
        }
        .part-list {
            border-top: 1px solid #f58c1e;
            &:before {
                background-image: url('../imgs/basket/part_list_title.png');
            }
        }
        .item {
            width: 100%;
            border-bottom: 1px dotted #b3a3a3;
            color: #505050;
            &:last-of-type {
                border-bottom: none;
            }
            .item-content {
                width: 100%;
                padding: 30px 0;
                > div {
                    float: left;
                    width: 150px;
                    height: 80px;
                    p {
                        line-height: 24px;
                    }
                    a.btn-option {
                        position: relative;
                        display: inline-block;
                        height: 34px;
                        border: 2px solid #e9546b;
                        border-radius: 4px;
                        line-height: 34px;
                        color: #e9546b;
                        padding: 0 22px 0 8px;
                        &:after {
                            position: absolute;
                            top: 14px;
                            right: 6px;
                            display: block;
                            width: 10px;
                            height: 7px;
                            content: "";
                            background: url(../imgs/icons/icon_arrow_down_red.png) no-repeat;
                        }
                    }
                }
                .c-product {
                    width: 270px;
                    padding-left: 10px;
                    .img {
                        display: block;
                        float: left;
                        width: 80px;
                        height: 80px;
                        overflow: hidden;
                        img {
                            width: 100%;
                        }
                    }
                    .text {
                        float: left;
                        width: 170px;
                        height: 100%;
                        margin-left: 20px;
                        p {
                            text-align: left;
                            &.cn {
                                line-height: 24px;
                            }
                            &.en {
                                font-size: 12px;
                                line-height: 18px;
                            }
                        }
                    }
                }
                .c-operate {
                    width: 130px;
                }
                .popup-act {
                    position: absolute;
                    top: 70px;
                    right: 23px;
                    display: none;
                    width: 460px;
                    height: 130px;
                    background-color: #fff;
                    border: 1px solid #e9546b;
                    border-radius: 3px;
                    z-index: 999;
                    &:after {
                        display: block;
                        width: 18px;
                        height: 5px;
                        content: '';
                        background: url(../imgs/icons/icon_popup_surprise.png) no-repeat;
                        margin: -137px 0 0 400px;
                    }
                    &.active {
                        display: block;
                    }
                    .txt-popups {
                        width: 424px;
                        height: 80px;
                        border: 0;
                        border-bottom: 1px solid #f0f0f0;
                        margin: 18px 18px 0;
                        line-height: 20px;
                        outline: none;
                        resize: none;
                    }
                    p {
                        height: 30px;
                        margin-right: 18px;
                        line-height: 28px;
                        text-align: right;
                        color: #c8c8c8;
                    }
                }
                .popup-surprise {
                    position: absolute;
                    top: 70px;
                    right: 34px;
                    display: none;
                    width: 540px;
                    background-color: #fff;
                    border: 1px solid #e9546b;
                    border-radius: 3px;
                    z-index: 999;
                    &:after {
                        display: block;
                        width: 18px;
                        height: 5px;
                        content: '';
                        background: url(../imgs/icons/icon_popup_surprise.png) no-repeat;
                        margin: -295px 0 0 502px;
                    }
                    &.active {
                        display: block;
                    }
                    ul {
                        margin: 14px 35px 0 40px;
                        li {
                            position: relative; 
                            padding-left: 15px; 
                            &:before {
                                position: absolute;
                                top: 0;
                                left: 0;
                                display: block;
                                width: 6px;
                                height: 6px;
                                content: '●';
                            }
                            &.s-remark:before {
                                top: 3px;
                            }
                            &.s-photo:before {
                                top: 8px;
                            }
                            span {
                                color: #e9546b;
                            }
                            .s-label {
                                float: left;
                                width: 42px;
                                line-height: 24px;
                                text-align: right;
                            }
                            .remark-text {
                                float: right;
                                width: 406px;
                                line-height: 24px;
                            }
                            .btn-preview {
                                float: left;
                                display: block;
                                width: 90px;
                                height: 90px;
                                border: 1px solid #b4b4b4;
                                border-radius: 2px;
                                margin: 0 0 18px 2px;
                            }
                            .btn-sure {
                                float: right;
                                display: block;
                                width: 120px;
                                height: 38px;
                                background-color: #e9546b;
                                border-radius: 2px;
                                margin-top: 54px;
                                line-height: 38px;
                                text-align: center;
                                color: #fff;
                            }
                        }
                        .s-target, .s-scene {
                            height: 30px;
                            line-height: 30px;
                        }
                        .s-photo {
                            padding-top: 10px;
                            .s-label {
                                line-height: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .address-lock {
        height: 74px;
        padding: 0 20px;
        line-height: 74px;
        border-bottom: 1px solid #e6e6e6;
        p {
            float: left;
            span {
                display: inline-block;
                margin-right: 10px;
                color: #45515e;
                &.lock-addr {
                    font-weight: bold;
                }
                &.lock-name {
                    margin-right: 20px;
                }
                &.tip-default {
                    width: 70px;
                    height: 20px;
                    background-color: #a09292;
                    margin-left: 16px;
                    line-height: 20px;
                    color: #fff;
                    text-align: center;
                    vertical-align: text-top;
                }
            }
            .btn-edit {
                display: inline-block;
                width: 38px;
                height: 18px;
                border: 1px solid #a09292;
                border-radius: 2px;
                line-height: 18px;
                color: #a09292;
                text-align: center;
            }
        }
        a.btn-add {
            position: relative;
            float: right;
            display: block;
            width: 160px;
            height: 42px;
            background-color: #45515e;
            border-radius: 2px;
            margin-top: 16px;
            line-height: 42px;
            color: #fff;
            text-indent: 60px;
            &:after {
                position: absolute;
                top: 10px;
                left: 18px;
                display: block;
                width: 23px;
                height: 23px;
                content: '';
                background: url(../imgs/icons/icon_add.png) no-repeat;
            }
        }
        
    }
    
    .address-list {
        padding: 10px 20px;
        li {
            height: 40px;
            padding: 0 10px 0 80px;
            line-height: 40px;
            &.active {
                background-color: #e9546b;
                span {
                    color: #fff;
                }
                a {
                    display: block;
                }
            }
            p {
                float: left;
                cursor: default;
                span {
                    display: inline-block;
                    margin-right: 10px;
                    color: #45515e;
                    &.i-name {
                        margin-right: 20px;
                    }
                }
            }
            a{
                float: right;
                display: none;
                height: 18px;
                padding: 0 5px;
                border: 1px solid #fff;
                border-radius: 2px;
                margin: 10px 0 0 10px;
                line-height: 18px;
                color: #fff;
            }
        }
    }
    .delivery-time {
        position: relative;
        height: 32px;
        padding: 28px 20px 36px;
        p {
            float: left;
            height: 32px;
            margin-right: 10px;
            line-height: 32px;
            font-weight: bold;
            color: #45515e;
        }
        a {
            position: relative;
            float: left;
            display: block;
            width: 140px;
            height: 30px;
            border: 1px solid #b4b4b4;
            border-radius: 2px;
            margin-right: 18px;
            line-height: 30px;
            text-indent: 12px;
            &:after {
                position: absolute;
                top: 12px;
                right: 10px;
                display: block;
                width: 10px;
                height: 6px;
                content: '';
                background: url(../imgs/icons/icon_arrow_down_gray.png) no-repeat;
            }
            &.active:after {
                background: url(../imgs/icons/icon_arrow_up_gray.png) no-repeat;
            }
        }
        .popup-time {
            position: absolute;
            top: 59px;
            left: 260px;
            display: none;
            width: 140px;
            background-color: #fff;
            border: 1px solid #b4b4b4;
            border-radius: 0 0 2px 2px;
            z-index: 999;
            &.active {
                display: block;
            }
            ul {
                li {
                    height: 34px;
                    border-bottom: 1px solid #e6e6e6;
                    line-height: 34px;
                    text-indent: 12px;
                    &.active,&:hover {
                        background-color: #e9546b;
                        color: #fff;
                    } 
                    &.last {
                        border: none;
                    }   
                }
            }
        }
    }
    .payment-list {
        padding: 0 20px 20px;
        li {
            float: left;
            a {
                display: block;
                width: 220px;
                height: 50px;
                border: 1px solid #45515e;
                border-radius: 3px;
                margin-right: 28px;
                line-height: 50px;
                text-align: center;
                color: #45515e;
                &.active {
                    width: 218px;
                    height: 48px;
                    border: 2px solid #e9546b;
                    background: url(../imgs/icons/icon_order_active.png) no-repeat bottom right;
                    line-height: 48px;
                    color: #e9546b;
                }
            }
        }
    }
    .payment-content {
        border-top: 1px solid #e6e6e6;
        .online-type {
            width: 1000px;
            padding: 36px 20px 32px;
            li {
                float: left;
                margin: 0 28px 28px 0;
                a {
                    display: block; 
                    width: 220px;
                    height: 70px;
                    border: 1px solid #c8c8c8;
                    border-radius: 3px;
                    overflow: hidden;
                    &.active {
                        width: 218px;
                        height: 68px;
                        border: 2px solid #e9546b;
                    }
                }
            }
        }
        .COD-type {
            display: none;
            margin: 40px 0 28px;
            padding-left: 28px;
            height: 100px;
            background-color: #f5f5f5;
            p {
                float: left;
                line-height: 100px;
                color: #45515e;
                input {
                    width: 220px;
                    height: 40px;
                    border: 1px solid #dcdcdc;
                    border-radius: 2px;
                    margin-left: 6px;
                    line-height: 40px;
                    text-indent: 10px;
                    &.card-number {
                        margin-right: 66px;
                    }    
                }
                
            }
            a.btn-exchange {
                float: left;
                display: block;
                width: 112px;
                height: 42px;
                background-color: #e9546b;
                border-radius: 2px;
                margin: 29px 28px;
                line-height: 42px;
                color: #fff;
                text-align: center;
            }
        }
    }
    .coupon-title {
        position: relative;
        height: 40px;
        border-bottom: 1px solid #e9546b;
        a {
            float: left;
            display: block;
            width: 200px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: #45515e;
            &.active {
                font-weight: bold;
                color: #e9546b;
            }
        }
        &:after {
            position: absolute;
            top: -2px;
            left: 0;
            display: block;
            width: 196px;
            height: 40px;
            content: '';
            border: 2px solid #e9546b;
            border-bottom: 1px solid #fff;
            border-radius: 4px 4px 0 0;
        }
    }
    .coupon-content {
        .coupon-list {
            width: 920px;
            padding: 40px 0 30px;
            li {
                float: left;
                width: 230px;
                height: 120px;
                background: url(../imgs/basket/coupon_bg.png) no-repeat;
                margin-bottom: 10px;
                &.active {
                    background: url(../imgs/basket/coupon_bg_active.png) no-repeat;
                    a:after {
                        position: absolute;
                        top: 3px;
                        left: 18px;
                        display: block;
                        width: 24px;
                        height: 17px;
                        content: '';
                        background: url(../imgs/icons/icon_check.png) no-repeat;
                    }
                }
                p {
                    height: 70px;
                    padding-top: 10px;
                    font-size: 22px;
                    line-height: 70px;
                    text-align: center;
                    color: #fff;
                }
                a.btn-use {
                    position: relative;
                    display: block;
                    width: 188px;
                    height: 24px;
                    border: 1px solid #fff;
                    border-radius: 2px;
                    margin: 0 auto;
                    line-height: 24px;
                    text-align: center;
                    color: #fff;
                }
            }
        }
        .code-info {
            display: none;
            padding: 40px 0 60px;
            p {
                height: 100px;
                background-color: #f5f5f5;
                line-height: 100px;
                span {
                    float: left;
                    display: inline-block;
                    margin-left: 48px;
                    color: #45515e;
                }
                input {
                    float: left;
                    width: 310px;
                    height: 40px;
                    border: 1px solid #dcdcdc;
                    border-radius: 3px;
                    margin: 30px 26px 0 8px;
                    text-indent: 10px;
                    line-height: 40px;
                }
                .btn-reg {
                    float: left;
                    display: inline-block;
                    width: 112px;
                    height: 42px;
                    background-color: #e9546b;
                    border-radius: 3px;
                    margin-top: 30px;
                    text-align: center;
                    line-height: 42px;
                    color: #fff;
                }
            }
        }
        .cash-info {
            position: relative;
            display: none; 
            &:after {
                position: absolute;
                top: 24px;
                left: 10px;
                display: block;
                width: 150px;
                height: 16px;
                content: '代金券可多选使用';
                background: url(../imgs/icons/icon_information.png) no-repeat top left;
                line-height: 16px;
                color: #b4b4b4;
                text-indent: 24px;
            }
        }
        .cash-list {
            width: 920px;
            padding: 50px 0 20px;
            li {
                float: left;
                width: 230px;
                height: 120px;
                background: url(../imgs/basket/cash_bg.png) no-repeat;
                margin-bottom: 10px;
                &.active {
                    background: url(../imgs/basket/cash_bg_active.png) no-repeat;
                    a:after {
                        position: absolute;
                        top: 3px;
                        left: 18px;
                        display: block;
                        width: 24px;
                        height: 17px;
                        content: '';
                        background: url(../imgs/icons/icon_check.png) no-repeat;
                    }
                }
                p {
                    height: 70px;
                    padding-top: 10px;
                    font-size: 20px;
                    line-height: 70px;
                    text-align: center;
                    color: #fff;
                    span {
                        font-size: 34px;
                    }
                }
                a.btn-use {
                    position: relative;
                    display: block;
                    width: 188px;
                    height: 24px;
                    border: 1px solid #fff;
                    border-radius: 2px;
                    margin: 0 auto;
                    line-height: 24px;
                    text-align: center;
                    color: #fff;
                }
            }
        }
    }
    .invoice-lock {
        height: 74px;
        padding: 0 20px;
        line-height: 74px;
        border-bottom: 1px solid #e6e6e6;
        p {
            float: left;
            span {
                display: inline-block;
                margin-right: 10px;
                color: #45515e;
                &.lock-label {
                    margin-right: 24px;
                    font-weight: bold;
                }
                &.tip-default {
                    width: 70px;
                    height: 20px;
                    background-color: #a09292;
                    margin: 0 16px;
                    line-height: 20px;
                    color: #fff;
                    text-align: center;
                    vertical-align: text-top;
                }
            }
            .btn-edit {
                display: inline-block;
                width: 38px;
                height: 18px;
                border: 1px solid #a09292;
                border-radius: 2px;
                line-height: 18px;
                color: #a09292;
                text-align: center;
            }
        }
        a.btn-add {
            position: relative;
            float: right;
            display: block;
            width: 136px;
            height: 42px;
            background-color: #45515e;
            border-radius: 2px;
            margin-top: 16px;
            line-height: 42px;
            color: #fff;
            text-indent: 60px;
            &:after {
                position: absolute;
                top: 10px;
                left: 18px;
                display: block;
                width: 23px;
                height: 23px;
                content: '';
                background: url(../imgs/icons/icon_add.png) no-repeat;
            }
        }
        
    }
    
    .invoice-list {
        padding: 10px 20px;
        li {
            height: 40px;
            padding: 0 10px 0 66px;
            line-height: 40px;
            &.active {
                background-color: #e9546b;
                span {
                    color: #fff;
                }
                a {
                    display: block;
                }
            }
            p {
                float: left;
                cursor: default;
                span {
                    display: inline-block;
                    margin-right: 10px;
                    color: #45515e;
                    &.i-name {
                        margin-right: 20px;
                    }
                }
            }
            a{
                float: right;
                display: none;
                height: 18px;
                padding: 0 5px;
                border: 1px solid #fff;
                border-radius: 2px;
                margin: 10px 0 0 10px;
                line-height: 18px;
                color: #fff;
            }
        }
    }
    .invoice-other {
        position: relative;
        height: 32px;
        padding: 28px 20px 36px;
        span {
            float: left;
            display: inline-block;
            height: 32px;
            margin-right: 10px;
            line-height: 32px;
            font-weight: bold;
            color: #45515e;
        }
        a {
            position: relative;
            float: left;
            display: block;
            width: 140px;
            height: 30px;
            border: 1px solid #b4b4b4;
            border-radius: 2px;
            margin-right: 18px;
            line-height: 30px;
            text-indent: 12px;
            &:after {
                position: absolute;
                top: 12px;
                right: 10px;
                display: block;
                width: 10px;
                height: 6px;
                content: '';
                background: url(../imgs/icons/icon_arrow_down_gray.png) no-repeat;
            }
            &.active:after {
                background: url(../imgs/icons/icon_arrow_up_gray.png) no-repeat;
            }
            &.btn-birth {
                margin-right: 40px;
            }
        }
        .popup-birth, .popup-card {
            position: absolute;
            top: 59px;
            left: 86px;
            display: none;
            width: 140px;
            background-color: #fff;
            border: 1px solid #b4b4b4;
            border-radius: 0 0 2px 2px;
            z-index: 999;
            &.active {
                display: block;
            }
            ul {
                li {
                    height: 34px;
                    border-bottom: 1px solid #e6e6e6;
                    line-height: 34px;
                    text-indent: 12px;
                    &.active,&:hover {
                        background-color: #e9546b;
                        color: #fff;
                    } 
                    &.last {
                        border: none;
                    }   
                }
            }
        }
        .popup-card {
            left: 320px;
        }
    }
    .remarks-content {
        width: 432px;
        margin-left: 20px;
        .txt-remarks{
            width: 410px;
            height: 70px;
            padding: 10px;
            outline: none;
            border: 1px solid #e6e6e6;
            border-radius: 2px;
            resize: none;
            line-height: 20px;
        }
        span {
            display: block;
            width: 100%;
            height: 30px;
            padding-bottom: 38px;
            margin: 0;
            font-size: 14px;
            line-height: 30px;
            text-align: right;
            color: #b3b3b3;
        }
    }
    .summary-info {
        padding-bottom: 150px;
        .s-info {
            height: 50px;
            padding-left: 20px;
            background-color: #f5f5f5;
            margin: 10px 0;
            line-height: 50px;
            color: #b3b3b3;
        }
        .s-price {
            span {
                display: inline-block;
                float: right;
                line-height: 70px;
                &.s-label {
                    margin-right: 24px;
                    color: #635859;
                }
                &.s-symbol {
                    font-size: 18px;
                    color: #d61e32;
                }
                &.s-money {
                    font-size: 30px;
                    line-height: 60px;
                    color: #d61e32;
                }
            }
            a.btn-payment {
                display: block;
                float: right;
                width: 210px;
                height: 60px;
                background: #e9546b;
                margin-left: 22px;
                font-size: 18px;
                line-height: 60px;
                text-align: center;
                color: #fff;
            }
        }
    }       
}
#mask-list {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-image: url(../imgs/basket/mask_bg.png);
    z-index: 9999;
    .popup-preview {
        position: absolute;
        top: 50%;
        left: 50%;
        display: none;
        width: 600px;
        height: 664px;
        padding: 20px;
        background-color: #fff;
        border: 2px solid #e9546b;
        border-radius: 8px;
        margin: -354px 0 0 -322px;
        .pre-photo {
            width: 600px;
            height: 600px;
            overflow: hidden;
        }
        .btn-close {
            display: block;
            width: 152px;
            height: 46px;
            background-color: #e9546b;
            border-radius: 2px;
            margin: 18px auto 0;
            line-height: 46px;
            color: #fff;
            text-align: center;
        }
    }
    .popup-invoice {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        display: none;
        width: 470px;
        background-color: #fff;
        padding: 0 60px 34px;
        border: 2px solid #e9546b;
        border-radius: 8px;
        margin: 0 auto;
        transform: translateY(-50%);
        overflow: hidden;
        .popup-title {
            position: relative;
            height: 70px;
            font-size: 16px;
            line-height: 70px;
            font-weight: bold;
            color: #45515e;
            &:before {
                position: absolute;
                top: 0;
                left: -20px;
                content: '●';
                font-size: 16px;
                color: #45515e;
                font-weight: bold;
            }
        }
        .popup-info {
            li {
                position: relative;
                height: 40px;
                margin-bottom: 10px;
                line-height: 40px;
                .label {
                    float: left;
                    width: 70px;
                    margin-right: 10px;
                    color: #45515e;
                }
                .invoice-type {
                    float: left;
                }
                > select {
                    float: left;
                    width: 120px;
                    height: 40px;
                    border: none;
                    border-radius: 2px;
                    background-color: #f5f5f5;
                    line-height: 40px;
                    text-indent: 20px;
                    &:before {
                        position: absolute;
                        top: 4px;
                        right: -8px;
                        content: '*';
                        width: 10px;
                        height: 40px;
                        background: red;
                        font-size: 16px;
                        color: #e9546b;
                        font-weight: bold;
                    }
                }
                .invoice-name {
                    position: relative;
                    float: left;
                    width: 380px;
                    height: 40px;
                    background-color: #f5f5f5;
                    border: none;
                    border-radius: 2px;
                    text-indent: 20px;
                }
                &.i-must:before {
                    position: absolute;
                    top: 2px;
                    right: 250px;
                    content: '*';
                    width: 10px;
                    height: 40px;
                    font-size: 16px;
                    color: #e9546b;
                    font-weight: bold;
                }
                &.company-name:before {
                    right: -10px;
                }
            }
        }
        .popup-btns {
            margin-top: 30px;
            a {
                float: left;
                display: block;
                width: 140px;
                height: 45px;
                background-color: #e9546b;
                border-radius: 2px;
                line-height: 40px;
                text-align: center;
                color: #fff;
                &#btn-cancel {
                    margin: 0 20px 0 80px;
                    background-color: #f2b4be;
                }
            }
        }
    }
    .popup-address {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        display: none;
        width: 590px;
        background-color: #fff;
        padding-bottom: 24px;
        border: 2px solid #e9546b;
        border-radius: 8px;
        margin: 0 auto;
        transform: translateY(-50%);
        overflow: hidden;
        .popup-title {
            position: relative;
            width: 470px;
            height: 70px;
            margin: 0 auto;
            font-size: 16px;
            line-height: 70px;
            font-weight: bold;
            color: #45515e;
            &:before {
                position: absolute;
                top: 0;
                left: -20px;
                content: '●';
                font-size: 16px;
                color: #45515e;
                font-weight: bold;
            }
        }
        .popup-info {
            width: 470px;
            margin: 0 auto;
            li {
                position: relative;
                height: 40px;
                margin-bottom: 10px;
                line-height: 40px;
                .label {
                    float: left;
                    width: 70px;
                    margin-right: 10px;
                    color: #45515e;
                }
                > input {
                    float: left;
                    width: 380px;
                    height: 40px;
                    border: none;
                    border-radius: 2px;
                    background-color: #f5f5f5;
                    line-height: 40px;
                    text-indent: 20px;
                    &:before {
                        position: absolute;
                        top: 4px;
                        right: -8px;
                        content: '*';
                        width: 10px;
                        height: 40px;
                        background: red;
                        font-size: 16px;
                        color: #e9546b;
                        font-weight: bold;
                    }
                }
                label {
                    float: left;
                    select {
                        width: 120px;
                        height: 40px;
                        border: none;
                        border-radius: 2px;
                        background-color: #f5f5f5;
                        margin-right: 10px;
                        line-height: 40px;
                        text-indent: 20px;
                    }
                }
            }
        }
        .reg-tip {
            height: 14px;
            line-height: 14px;
            color: #e9546b;
            text-indent: 140px;
        }
        .popup-btns {
            margin-top: 30px;
            a {
                float: left;
                display: block;
                width: 140px;
                height: 45px;
                background-color: #e9546b;
                border-radius: 2px;
                line-height: 45px;
                text-align: center;
                color: #fff;
                &#btn-cancel {
                    margin: 0 20px 0 140px;
                    background-color: #f2b4be;
                }
                &#btn-logistics {
                    width: 84px;
                    background-color: transparent;
                    margin-left: 20px;
                    color: #4682be;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
