.ranking-page {
  width: 100%;
  background: {
    image: url('../imgs/ranking/body_bg.jpg');
  }

  img {
    border: none;
    vertical-align: top;
  }
}

.ranking-banner {
  position: relative;
  width: 1200px;
  height: 596px;
  margin: 0 auto;

  .inner {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1920px;
    height: 596px;
    margin-left: -960px;
    background: {
      image: url('../imgs/ranking/banner.jpg');
      repeat: no-repeat;
      size: cover;
      position: center center;
    }
  }
}

.top-container {
  width: 1200px;
  margin: 0 auto;

  &.top3 {
    width: 1124px;
    padding: 50px 0 100px;
  }

  &.top-last {
    padding-bottom: 200px;
  }
}

.top-item {
  position: relative;
  width: 340px;

  img {
    width: 100%;
  }

  .rank {
    position: absolute;
    width: 90px;
    height: 90px;
    background: {
      repeat: no-repeat;
      size: cover;
      position: center center;
    }

    &.rank-01 {
      background-image: url('../imgs/ranking/icon_top1.png');
    }
    &.rank-02 {
      background-image: url('../imgs/ranking/icon_top2.png');
    }
    &.rank-03 {
      background-image: url('../imgs/ranking/icon_top3.png');
    }
    &.rank-04 {
      background-image: url('../imgs/ranking/icon_top4.png');
    }
    &.rank-05 {
      background-image: url('../imgs/ranking/icon_top5.png');
    }
    &.rank-06 {
      background-image: url('../imgs/ranking/icon_top6.png');
    }
    &.rank-07 {
      background-image: url('../imgs/ranking/icon_top7.png');
    }
    &.rank-08 {
      background-image: url('../imgs/ranking/icon_top8.png');
    }
    &.rank-09 {
      background-image: url('../imgs/ranking/icon_top9.png');
    }
  }

  .img {
    display: block;
    position: relative;
    width: 340px;
    height: 310px;
  }

  .text {
    width: 340px;
    height: 80px;
  }

  .btn-buy {
    display: block;
    width: 227px;
    height: 56px;
    background: {
      image: url('../imgs/ranking/btn_buy.png');
      repeat: no-repeat;
      position: 0 0;
    }

    &:hover {
      background-position: -227px 0;
    }
  }
}

.top3 .top-item {
  position: relative;
  width: 100%;
  height: 352px;
  margin-top: 180px;

  .rank {
    width: 144px;
    height: 144px;
    top: -120px;
  }

  .img {
    position: absolute;
    top: 0;
    width: 576px;
    height: 356px;
  }

  .text {
    position: absolute;
    top: 60px;
    width: 586px;
    height: 180px;
  }

  .btn-buy {
    position: absolute;
    top: 240px;
  }

  &.normal .rank {
    left: 0;
  }
  &.normal .img {
    left: 0;
  }
  &.normal .text {
    right: 0;
  }
  &.normal .btn-buy {
    right: 180px;
  }

  &.reverse .rank {
    right: 0;
  }
  &.reverse .img {
    right: 0;
  }
  &.reverse .text {
    left: 0;
  }
  &.reverse .btn-buy {
    left: 180px;
  }
}

.top-last .top-item {
  float: left;
  margin: 0 30px;
  padding-bottom: 100px;

  .rank {
    top: 0;
    left: 38px;
  }

  .btn-buy {
    margin: 10px auto 0;
  }
}