.ranking-page {
  width: 100%;
  background-color: #fff;

  img {
    border: none;
    vertical-align: top;
  }
}

.ranking-banner {
  position: relative;
  width: 1200px;
  height: 556px;
  margin: 0 auto;

  .inner {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1920px;
    height: 556px;
    margin-left: -960px;
    background: {
      image: url('../imgs/ranking/banner.jpg');
      repeat: no-repeat;
      size: cover;
      position: center center;
    }
  }
}

.top-container {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.top-item {
  position: relative;
  width: 340px;

  img {
    width: 100%;
  }

  .rank {
    display: none;
    position: absolute;
    width: 90px;
    height: 90px;
    background: {
      repeat: no-repeat;
      size: cover;
      position: center center;
    }

    &.rank-01 {
      background-image: url('../imgs/ranking/icon_top1.png');
    }
    &.rank-02 {
      background-image: url('../imgs/ranking/icon_top2.png');
    }
    &.rank-03 {
      background-image: url('../imgs/ranking/icon_top3.png');
    }
    &.rank-04 {
      background-image: url('../imgs/ranking/icon_top4.png');
    }
    &.rank-05 {
      background-image: url('../imgs/ranking/icon_top5.png');
    }
    &.rank-06 {
      background-image: url('../imgs/ranking/icon_top6.png');
    }
    &.rank-07 {
      background-image: url('../imgs/ranking/icon_top7.png');
    }
    &.rank-08 {
      background-image: url('../imgs/ranking/icon_top8.png');
    }
    &.rank-09 {
      background-image: url('../imgs/ranking/icon_top9.png');
    }
  }

  .img {
    display: block;
    position: relative;
    width: 340px;
    height: 340px;
  }

  .text {
    width: 340px;
    height: 96px;
  }

  .btn-buy {
    display: none;
    width: 220px;
    height: 62px;
    background: {
      image: url('../imgs/ranking/btn_buy.png');
      repeat: no-repeat;
      size: cover;
      position: center center;
    }
  }
}

.top3 .top-item {
  position: relative;
  width: 100%;
  height: 352px;
  margin-top: 100px;

  .rank {
    width: 144px;
    height: 144px;
    top: -120px;
  }

  .img {
    position: absolute;
    top: 0;
    width: 626px;
    height: 352px;
  }

  .text {
    position: absolute;
    top: 70px;
    width: 624px;
    height: 224px;
  }

  .btn-buy {
    display: block;
    position: absolute;
    bottom: 0;
  }

  &.normal .rank {
    left: 0;
  }
  &.normal .img {
    left: 0;
  }
  &.normal .text {
    right: 0;
  }
  &.normal .btn-buy {
    right: 202px;
  }

  &.reverse .rank {
    right: 0;
  }
  &.reverse .img {
    right: 0;
  }
  &.reverse .text {
    left: 0;
  }
  &.reverse .btn-buy {
    left: 202px;
  }
}

.top-last .top-item {
  float: left;
  margin: 0 30px;
  padding-bottom: 100px;

  .rank {
    top: 0;
    left: 38px;
  }

  .btn-buy {
    margin: 10px auto 0;
  }
}