.fixed-header {
  position: fixed;
  top: 0;
  z-index: 999;
}

.layout-footer,
.layout-header {
  display: none;
}

.scenter-page {
  width: 100%;

  .section {
    overflow: hidden;
    background: {
      repeat: no-repeat;
      size: cover;
      position: center center;
    }
  }

  .section-intro {
    background-image: url('../imgs/scenter/intro_bg.jpg');
  }

  .section-sugar {
    background-image: url('../imgs/scenter/sugar_bg.jpg');
  }

  .section-scene {
    background-image: url('../imgs/scenter/scene_bg.jpg');
  }

  .section-container {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
  }

  .intro-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 714px;
    height: 500px;
    margin: -200px 0 0 -357px;
    background: {
      image: url('../imgs/scenter/intro_img.png');
      repeat: no-repeat;
      size: contain;
      position: bottom center;
    }
  }

  .scene-container,
  .sugar-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1080px;
    height: 572px;
    margin: -286px 0 0 -540px;

    .img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 540px;
      height: 572px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .form-wrap {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 540px;
      height: 572px;
      overflow: hidden;
      background: {
        image: url('../imgs/scenter/form_bg.png');
        repeat: repeat;
      }
    }

    .form-body {
      width: 480px;
      margin: 30px auto 0;

      li {
        width: 100%;
        margin-bottom: 15px;

        &.operate {
          padding-top: 10px;
        }
      }

      .title {
        float: left;
        width: 70px;
        line-height: 46px;
        text-align: right;
        color: #fff;
      }

      .content {
        float: right;
        width: 400px;

        input[type=text],
        textarea {
          background-color: #fff;
          outline: none;
          border: none;
          -webkit-appearance: none;
        }
      }

      .txt-require {
        width: 360px;
        height: 72px;
        padding: 10px 20px;
        line-height: 24px;
        border-radius: 5px;
        resize: none;
      }

      .txt-name {
        width: 300px;
        padding: 0 20px;
        line-height: 46px;
        border-radius: 5px;
      }

      .txt-mobile {
        float: left;
        width: 185px;
        padding: 0 20px;
        line-height: 46px;
        border-radius: 5px 0 0 5px;
      }

      .btn-vcode {
        display: block;
        float: left;
        width: 115px;
        line-height: 46px;
        text-align: center;
        border-radius: 0 5px 5px 0;
        color: #fff;
        background-color: #caa5a5;

        &:hover {
          text-decoration: underline;
        }
      }

      .txt-vcode {
        width: 100px;
        padding: 0 20px;
        line-height: 46px;
        border-radius: 5px;
      }

      .btn-submit {
        display: block;
        width: 180px;
        height: 46px;
        margin: 0 auto;
        line-height: 46px;
        text-align: center;
        color: #fff;
        background-color: #e9546b;
        border-radius: 5px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .form-rule {
      width: 460px;
      margin: 20px auto 0;
      color: #fff;

      dt {
        line-height: 34px;
      }

      dd {
        line-height: 28px;
      }
    }
  }
}

#fp-nav ul li .fp-tooltip {
  color: #e9546b;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background-color: #e9546b;
}
