.szone-page {
  width: 100%;
  background-color: #f2fcfe;
}

.szone-banner {
  position: relative;
  width: 1200px;
  height: 900px;
  margin: 0 auto;

  .inner {
    position: absolute;
    top: 0;
    z-index: 9;
    left: 50%;
    width: 1920px;
    height: 900px;
    margin-left: -960px;
    background: {
      image: url('../imgs/szone/banner.png');
      repeat: no-repeat;
      size: cover;
      position: center center;
    }
  }
}

.szone-container {
  position: relative;
  z-index: 2;
  width: 1200px;
  margin: 0 auto;
  .category {
    position: relative;
    z-index: 10;
    width: 1200px;
    padding-top: 110px;
  }

  .category-title {
    width: 570px;
    height: 40px;
    margin: 0 auto;
    background: {
      repeat: no-repeat;
      size: cover;
      position: center center;
    }

    &.cake {
      background-image: url('../imgs/szone/category_title_cake.png');
    }
    &.tea {
      background-image: url('../imgs/szone/category_title_tea.png');
    }
  }

  .category-content {
    width: 1200px;
  }

  .section {
    width: 1200px;
    padding-top: 60px;
  }

  .section-title {
    width: 106px;
    height: 48px;
    margin: 0 auto;
    background: {
      repeat: no-repeat;
      size: cover;
      position: center center;
    }

    &.new {
      background-image: url('../imgs/szone/section_title_new.png');
    }
    &.hot {
      background-image: url('../imgs/szone/section_title_hot.png');
    }
  }

  .section-content {
    width: 1200px;
    padding-top: 60px;
    border-bottom: 1px dashed #ddd;

    .cake {
      float: left;
      width: 270px;
      padding-bottom: 58px;
      margin: 0 15px;
    }

    .img {
      display: block;
      width: 268px;
      height: 268px;
      border: 1px solid #dadada;
      border-radius: 40px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .text {
      width: 270px;
      height: 152px;
      padding-top: 24px;
    }

    .name {
      width: 270px;

      .cn {
        height: 24px;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        text-align: center;
        color: #f9877d;
      }

      .en {
        height: 16px;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #bfbebe;
      }
    }

    .unit-price {
      padding-top: 14px;

      .current {
        height: 24px;
        color: #f9877d;
        line-height: 24px;
        text-align: center;

        span {
          display: inline-block;
        }
        .price {
          font-size: 18px;
          font-weight: bold;

          i {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
          }
        }
        .pound {
          font-size: 12px;
        }
      }

      .original {
        height: 16px;
        color: #d8d8d8;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        text-decoration: line-through;
      }
    }

    .btn-buy {
      display: block;
      width: 140px;
      height: 38px;
      margin: 16px auto 0;
      font-size: 18px;
      color: #fff;
      background-color: #4fcce1;
      text-align: center;
      line-height: 38px;
      border-radius: 19px;

      &:hover {
        background-color: #0da0b9;
      }
    }
  }

  #teaList {
    border-bottom: none;

    .text {
      height: 98px;
    }
  }
}

.szone-rule {
  width: 100%;
  background-color: #daf8fd;

  dl {
    width: 580px;
    margin: 0 auto;
    padding: 30px 0;
    color: #55c1d2;

  }

  dt {
    padding-bottom: 18px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
  dd {
    font-size: 14px;
    line-height: 30px;
  }
}