.teachers-day-page{
  width: 100%;
  height: 5205px;
  background:url("./../imgs/teachers-day/bg.png");
  background-repeat: no-repeat;
}
.teachers-day-banner{
  width: 1000px;
  margin: 0 auto;
  padding-top: 150px;
  height: 550px;
  background-image: url('./../imgs/teachers-day/banner.png');
  background-size: 984px 550px;
  background-position: center 150px;
  background-repeat: no-repeat;
}

.teachers-day-container{
  width: 1000px;
  margin: 20px auto 0;
  .cake-container{
    margin-top: 20px;
    background-size: 1000px 960px;
    height: 960px;
    background-repeat: no-repeat;
    position: relative;
    .content{
      position: absolute;
      width: 270px;
      height: 230px;
      .info{
        width: 100%;
        box-sizing: border-box;
        padding-left: 30px;
      }
      .name{
        font-size: 44px;
        color: #ff829f;
        font-weight: 600;
      }
      .oldPrice{
        padding-top: 30px;
        font-size: 14px;
        color: #434343;
        text-decoration: line-through;
      }
      .nowPrice{
        padding-top: 12px;
        font-size: 22px;
        color: #ff829f;
        font-weight: 600;
        .price{
          font-style: normal;
          font-size: 40px;
        }
      }
      .buyNow{
        display: block;
        margin: 30px auto 0;
        width: 220px;
        height: 50px;
        border-radius: 25px;
        background: #ff829f;
        text-align: center;
        line-height: 50px;
        color: #fff;
        font-size: 30px;
        font-weight: 600;
      }
    }
    .img{
      position: absolute;
      .img-btn{
        display: block;
      }
    }
    &.cake1{
      background-image: url('./../imgs/teachers-day/cake_bg1.png');
      .content{
        top: 475px;
        left: 70px;
      }
      .img{
        width: 660px;
        height: 450px;
        top: 380px;
        left: 310px;
      }
    }
    &.cake2{
      background-image: url('./../imgs/teachers-day/cake_bg2.png');
      .content{
        right: 60px;
        top: 425px;
      }
      .img{
        width: 670px;
        height: 490px;
        top: 370px;
        left: 34px;
      }
    }
    &.cake3{
      background-image: url('./../imgs/teachers-day/cake_bg3.png');
      .content{
        left: 50px;
        top: 140px;
      }
      .img{
        width: 660px;
        height: 450px;
        top: 85px;
        right: 34px;
      }
    }
    &.cake4{
      background-image: url('./../imgs/teachers-day/cake_bg4.png');
      .cake-wrapper1{
        .content{
          right: 120px;
          top: 180px;
        }
        .img{
          width: 520px;
          height: 380px;
          top: 155px;
          left: 40px;
          .txt1{
            position: absolute;
            width: 173px;
            height: 88px;
            top: 20px;
            left: 350px;
            img{
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .cake-wrapper2{
        .content{
          top: 625px;
          left: 115px;
        }
        .img{
          width: 527px;
          height: 360px;
          right: 30px;
          top: 530px;
          .txt2{
            position: absolute;
            width: 157px;
            height: 77px;
            top: 80px;
            left: -50px;
            img{
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
.teachers-day-rule{
  padding-top: 300px;
  width: 1000px;
  margin: 0 auto;
  dl{
    width: 500px;
    margin: 0 auto;
    color: #1a1f18;
    padding-top: 40px;
    font-weight: 500;
    dt{
      text-align: center;
      font-size: 18px;
      line-height: 60px;
    }
    dd{
      font-size: 16px;
      line-height: 48px;
    }
  }
}


