.page-container {
    width: 100%;
    background-color: #fff;
}

.ucenter-wrap {
    width: 1200px;
    margin: 40px auto 50px;
}

.uc-menu {
    float: left;
    width: 270px;
    border-bottom: 1px solid #e9546b;
    .title {
        width: 100%;
        height: 80px;
        line-height: 80px;
        text-align: center;
        font-size: 24px;
        color: #fff;
        background-color: #e9546b;
    }
    .section {
        width: 100%;
        > p {
            width: 220px;
            height: 25px;
            padding-left: 50px;
            line-height: 25px;
            color: #fff;
            background: {
                color: #f2b4be;
                size: 20px 25px;
                position: 20px 0;
                repeat: no-repeat;
            }
        }
        &.section-trade > p {
            background-image: url('../imgs/icons/icon_uc_trade.png');
        }
        &.section-account > p {
            background-image: url('../imgs/icons/icon_uc_account.png');
        }
        &.section-personal > p {
            background-image: url('../imgs/icons/icon_uc_personal.png');
        }
        ul {
            width: 100%;
        }
        li {
            width: 100%;
            border-bottom: 1px solid #f0f0f0;
            &:last-of-type {
                border-bottom: none;
            }
            a {
                display: block;
                height: 50px;
                line-height: 50px;
                text-align: center;
                color: #a0a0a0;
            }
            &.active a,
            &:hover a {
                position: relative;
                color: #e9546b;
                &:after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 4px;
                    height: 50px;
                    content: '';
                    background-color: #e9546b;
                }
            }
        }
    }
}

.uc-container {
    float: right;
    width: 860px;
    .container-wrap {
        width: 100%;
        > .header {
            width: 100%;
            border-bottom: 1px solid #45515e;
        }
        > .body {
            width: 100%;
        }
        .list-wrap {
            position: relative;
            padding-bottom: 40px;
            > .title {
                line-height: 30px;
                color: #fff;
                background-color: #f2b4be;
                span {
                    float: left;
                    display: inline-block;
                    text-align: center;
                    font-size: 12px;
                    &.h-info {
                        width: 230px;
                    }
                    &.h-price {
                        width: 110px;
                    }
                    &.h-count {
                        width: 80px;
                    }
                    &.h-total {
                        width: 110px;
                    }
                    &.h-require {
                        width: 110px;
                    }
                    &.h-state {
                        width: 110px;
                    }
                    &.h-operate {
                        width: 110px;
                    }
                }
            }
            .order-list {
                width: 100%;
                .order-item {
                    width: 100%;
                    padding-bottom: 20px;
                    .item-header {
                        line-height: 30px;
                        color: #a0a0a0;
                        font-size: 12px;
                        background-color: #f5f5f5;
                        span {
                            float: left;
                            display: inline-block;
                            margin-left: 25px;
                        }
                        i {
                            font-style: normal;
                        }
                        .order-no i {
                            color: #45515e;
                        }
                        .detail {
                            float: right;
                            margin-right: 18px;
                            color: #3c78c8;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                    .item-body {
                        position: relative;
                        width: 100%;
                        color: #4f4f4f;
                        font-size: 12px;
                        .item-cakes {
                            float: left;
                            width: 530px;
                            li {
                                width: 100%;
                                > div {
                                    float: left;
                                    height: 80px;
                                    padding: 20px 0;
                                    border-bottom: 1px solid #f0f0f0;
                                    border-right: 1px solid #f0f0f0;
                                    margin-left: -1px;
                                    overflow: hidden;
                                    p {
                                        line-height: 18px;
                                    }
                                }
                                .o-info {
                                    width: 230px;
                                    .img {
                                        float: left;
                                        display: block;
                                        width: 78px;
                                        height: 78px;
                                        margin-left: 10px;
                                        border: 1px solid #f0f0f0;
                                        overflow: hidden;
                                        img {
                                            width: 100%;
                                        }
                                    }
                                    .text {
                                        float: right;
                                        width: 120px;
                                        height: 80px;
                                        p {
                                            line-height: 20px;
                                            text-align: left;
                                        }
                                    }
                                }
                                .o-price {
                                    width: 110px;
                                }
                                .o-count {
                                    width: 80px;
                                }
                                .o-require {
                                    width: 110px;
                                }
                            }
                        }
                        > div {
                            position: absolute;
                            top: 0;
                            width: 109px;
                            height: 100%;
                            border-right: 1px solid #f0f0f0;
                            border-bottom: 1px solid #f0f0f0;
                            margin-top: -1px;
                            p,
                            a {
                                display: inline-block;
                                width: 100%;
                                line-height: 20px;
                                text-align: center;
                            }
                            a {
                                color: #3c78c8;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                            &.o-total {
                                right: 220px;
                            }
                            &.o-state {
                                right: 110px;
                            }
                            &.o-operate {
                                right: 0;
                                text-align: center;
                                border-right: none;
                                a {
                                    display: inline-block;
                                    width: auto;
                                    padding: 3px 15px;
                                    border: 1px solid #3c78c8;
                                }
                            }
                            .vcenter-position {
                                position: absolute;
                                width: 100%;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }
            .navigator {
                position: absolute;
                right: 0;
                bottom: 0;
                width: auto;
                a,
                span {
                    float: left;
                    display: inline-block;
                    line-height: 28px;
                    margin-left: 10px;
                    font-size: 14px;
                    color: #4f4f4f;
                }
                a {
                    width: 28px;
                    height: 28px;
                    text-align: center;
                    border: 1px solid #e6e6e6;
                    &:hover {
                        text-decoration: underline;
                    }
                    &.prev,
                    &.next {
                        background-color: #f5f5f5;
                        border-color: #c8c8c8;
                    }
                    &.active,
                    &:hover {
                        border-color: #e9546b;
                    }
                }
            }
        }
    }
}


/* latest orders page */

.latest-wrap {
    > .header {
        > h2 {
            line-height: 80px;
            font-size: 20px;
            font-weight: normal;
            color: #45515e;
        }
        .info {
            padding: 3px 0 40px;
            li {
                width: 100%;
                line-height: 34px;
                span,
                a {
                    float: left;
                    display: inline-block;
                }
                i {
                    font-style: normal;
                }
                .title {
                    color: #45515e;
                }
                &.total-points {
                    .content {
                        font-size: 18px;
                        color: #e9546b;
                    }
                    .points-record {
                        margin-left: 46px;
                        color: #3c78c8;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                &.trade-tip {
                    .content a {
                        color: #e9546b;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    > .body {
        padding-top: 20px;
        .latest-orders {
            width: 100%;
            .header {
                width: 100%;
                line-height: 40px;
                span {
                    float: left;
                    display: inline-block;
                    color: #e9546b;
                    &.title {
                        font-weight: bold;
                        margin-right: 28px;
                        padding-left: 16px;
                        background: {
                            image: url('../imgs/icons/icon_title_circle.png');
                            repeat: no-repeat;
                            size: 6px 6px;
                            position: left center;
                        }
                    }
                    i {
                        font-style: normal;
                    }
                }
            }
            .body {
                width: 100%;
            }
        }
    }
}


/* pwd reset page */

.pwd-wrap {
    .pwd-reset {
        line-height: 40px;
        .friendly-tips {
            height: 70px;
            line-height: 70px;
            color: #45515e;
        }
        .reset-list {
            li {
                height: 40px;
                margin-top: 10px;
                span {
                    float: left;
                    display: inline-block;
                    width: 56px;
                    height: 40px;
                    margin-right: 20px;
                    color: #969696;
                    text-align: right;
                }
                input {
                    float: left;
                    width: 350px;
                    height: 40px;
                    background-color: #f5f5f5;
                    border-radius: 2px;
                    text-indent: 2em;
                }
            }
        }
        .btn-submit {
            display: block;
            width: 190px;
            height: 40px;
            background-color: #e9546b;
            border-radius: 2px;
            margin: 40px 0 0 150px;
            color: #fff;
            text-align: center;
        }
    }
}


/* myorder page */

.myorder-wrap {
    > .header {
        p {
            line-height: 80px;
            color: #45515e;
            a {
                color: #e9546b;
                text-decoration: underline;
            }
        }
        .states {
            padding-bottom: 20px;
            li {
                float: left;
                display: inline-block;
                padding: 0 20px;
                line-height: 20px;
                font-size: 16px;
                border-right: 1px solid #45515e;
                &.last {
                    border-right: none;
                }
                a {
                    display: inline-block;
                    color: #45515e;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                &.active a {
                    color: #e9546b;
                }
            }
        }
    }
    .my-orders {
        font-size: 12px;
        color: #4f4f4f;
        .header {
            padding: 20px 0;
            .search {
                input {
                    float: left;
                    display: inline-block;
                    width: 238px;
                    height: 28px;
                    line-height: 28px;
                    border: 1px solid #d0d0d0;
                    text-indent: 20px;
                }
                a {
                    float: left;
                    display: inline-block;
                    width: 98px;
                    height: 28px;
                    margin-left: -1px;
                    line-height: 28px;
                    text-align: center;
                    color: #fff;
                    background-color: #f2b4be;
                    border: 1px solid #d0d0d0;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}


/* mycomment page */

.mycomment-wrap {
    > .header {
        p {
            line-height: 80px;
            color: #45515e;
        }
        .states {
            padding-bottom: 20px;
            li {
                float: left;
                display: inline-block;
                padding: 0 20px;
                line-height: 20px;
                font-size: 16px;
                border-right: 1px solid #45515e;
                &.last {
                    border-right: none;
                }
                a {
                    display: inline-block;
                    color: #45515e;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                &.active a {
                    color: #e9546b;
                }
            }
        }
    }
    > .body {
        padding-top: 20px;
        font-size: 12px;
        color: #4f4f4f;
        .comment-title {
            width: 100%;
            line-height: 30px;
            color: #fff;
            background-color: #f2b4be;
            span {
                float: left;
                display: inline-block;
                text-indent: 20px;
                &.h-no {
                    width: 125px;
                }
                &.h-name {
                    width: 203px;
                }
                &.h-level {
                    width: 125px;
                }
                &.h-content {
                    width: 240px;
                }
                &.h-time,
                &.h-operate {
                    width: 167px;
                }
            }
        }
        .comment-list {
            width: 100%;
            padding-bottom: 20px;
            li {
                width: 100%;
                border-bottom: 1px solid #f0f0f0;
                > div {
                    float: left;
                    height: 80px;
                    padding: 10px 0;
                    border-right: 1px solid #f0f0f0;
                    overflow: hidden;
                    p {
                        line-height: 20px;
                    }
                    &.c-no {
                        width: 124px;
                    }
                    &.c-name {
                        width: 202px;
                        .img {
                            float: left;
                            display: block;
                            width: 78px;
                            height: 78px;
                            margin-left: 9px;
                            border: 1px solid #f0f0f0;
                            overflow: hidden;
                            img {
                                width: 100%;
                            }
                        }
                        .text {
                            float: right;
                            width: 106px;
                            height: 80px;
                            p {
                                line-height: 20px;
                                text-align: left;
                            }
                        }
                    }
                    &.c-level {
                        width: 124px;
                        span {
                            display: inline-block;
                            width: 14px;
                            height: 14px;
                            margin: 0 2px;
                            background: {
                                image: url('../imgs/icons/icon_comment_star.png');
                                repeat: no-repeat;
                                size: cover;
                                position: center center;
                            }
                            &.active {
                                background-image: url('../imgs/icons/icon_comment_star_active.png');
                            }
                        }
                    }
                    &.c-content {
                        width: 239px;
                    }
                    &.c-time,
                    &.c-operate {
                        width: 166px;
                        border-right: none;
                        a {
                            display: inline-block;
                            width: 68px;
                            height: 24px;
                            line-height: 24px;
                            text-align: center;
                            border: 1px solid #45515e;
                            border-radius: 2px;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* invoice page */

.invoice-wrap {
    .header {
        border: 0 !important;
        .tips {
            height: 70px;
            line-height: 70px;
            color: #45515e;
            .number {
                display: inline-block;
                margin-right: 4px;
                font-size: 18px;
                color: #e9546b;
            }
        }
        .btn-add {
            position: relative;
            display: block;
            width: 190px;
            height: 40px;
            background-color: #e9546b;
            border-radius: 2px;
            line-height: 40px;
            color: #fff;
            text-indent: 60px;
            &:after {
                position: absolute;
                top: 10px;
                left: 20px;
                display: block;
                width: 20px;
                height: 20px;
                content: '';
                background: url("../imgs/ucenter/icon_add.png") no-repeat center;
            }
        }
    }
    .body {
        display: none;
        margin-top: 20px;
        .title {
            height: 30px;
            background-color: #f2b4be;
            font-size: 12px;
            line-height: 30px;
            color: #fff;
            span {
                float: left;
                display: inline-block;
                text-align: center;
            }
            span.t-type {
                width: 100px;
            }
            span.t-header {
                width: 350px;
                text-align: left;
                text-indent: 24px;
            }
            span.t-content {
                width: 94px;
            }
            span.t-operate {
                width: 316px;
            }
        }
        .invoice-list {
            .item-info {
                height: 99px;
                border-bottom: 1px solid #f0f0f0;
                >li {
                    float: left;
                    height: 99px;
                    border-right: 1px solid #f0f0f0;
                    font-size: 12px;
                    line-height: 100px;
                    text-align: center;
                }
                >li.i-type {
                    width: 99px;
                }
                >li.i-header {
                    width: 349px;
                    p {
                        line-height: 24px;
                        text-align: left;
                        text-indent: 24px;
                    }
                }
                >li.i-content {
                    width: 93px;
                }
                >li.i-operate {
                    width: 316px;
                    border: 0;
                    text-align: right;
                    a {
                        display: inline-block;
                        width: 68px;
                        height: 24px;
                        border: 1px solid #45515e;
                        border-radius: 2px;
                        line-height: 24px;
                        text-align: center;
                        color: #45515e;
                        &:hover {
                            text-decoration: underline;
                        }
                        &.btn-update {
                            margin-right: 6px;
                        }
                    }
                }
            }
        }
    }
}


/* mask */

#mask {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
    .popup-content {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        width: 440px;
        //height: 360px;
        padding-bottom: 40px;
        background-color: #fff;
        border-radius: 5px;
        margin: 0 auto;
        transform: translateY(-50%);
        overflow: hidden;
        .popup-title {
            height: 40px;
            border-bottom: 1px solid #c6c6c6;
            font-size: 20px;
            line-height: 40px;
            color: #e9546b;
            span {
                float: left;
                display: inline-block;
            }
            a.btn-close {
                float: right;
                display: inline-block;
                width: 17px;
                height: 16px;
                background: url('../imgs/ucenter/icon_close.png') no-repeat;
                margin-top: 12px;
            }
        }
        // invoice mask
        .popup-invoice {
            width: 360px;
            margin: 28px auto 0;
            .popup-info {
                li {
                    position: relative;
                    height: 40px;
                    margin-top: 20px;
                    line-height: 40px;
                    .name {
                        float: left;
                        width: 56px;
                        margin-right: 15px;
                        color: #969696;
                    }
                    > select {
                        width: 132px;
                        border: none;
                        background-color: #f5f5f5;
                        text-align: center;
                    }
                    .invoice-name {
                        position: relative;
                        float: left;
                        width: 280px;
                        height: 40px;
                        background-color: #f5f5f5;
                        border: 0;
                        border-radius: 2px;
                        text-indent: 10px;
                    }
                    &.company-name:before {
                        position: absolute;
                        top: 4px;
                        right: -4px;
                        content: '*';
                        width: 10px;
                        height: 30px;
                        background: none;
                        font-size: 16px;
                        color: #e9546b;
                        font-weight: bold;
                    }
                }
            }
            .popup-btns {
                margin-top: 30px;
                a {
                    float: left;
                    display: block;
                    width: 94px;
                    height: 40px;
                    background-color: #e9546b;
                    border-radius: 2px;
                    line-height: 40px;
                    text-align: center;
                    color: #fff;
                    &#btn-cancel {
                        margin: 0 12px 0 72px;
                        background-color: #f2b4be;
                    }
                }
            }
        }
        // commemorate mask
        .popup-commemorate {
            width: 360px;
            margin: 28px auto 0;
            .popup-info {
                li {
                    height: 40px;
                    margin-top: 20px;
                    line-height: 40px;
                    color: #969696;
                    .name {
                        float: left;
                        width: 40px;
                        color: #969696;
                    }
                    > p {
                        float: left;
                        display: inline-block;
                    }
                    > span {
                        width: 30px;
                        text-align: center;
                    }
                    > select {
                        width: 130px;
                        height: 40px;
                        border: none;
                        background-color: #f5f5f5;
                        text-align: center;
                    }
                    .commemorate-name {
                        float: left;
                        width: 320px;
                        height: 40px;
                        background-color: #f5f5f5;
                        border: 0;
                        border-radius: 2px;
                        text-indent: 10px;
                    }
                }
            }
            .popup-btns {
                margin-top: 30px;
                a {
                    float: left;
                    display: block;
                    width: 94px;
                    height: 40px;
                    background-color: #e9546b;
                    border-radius: 2px;
                    line-height: 40px;
                    text-align: center;
                    color: #fff;
                    &#btn-cancel {
                        margin: 0 12px 0 40px;
                        background-color: #f2b4be;
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        // address mask
        &.p-address {
            width: 480px;
        }
        .popup-address {
            width: 390px;
            margin: 28px auto 0;
            .popup-info {
                li {
                    position: relative;
                    height: 40px;
                    margin-top: 20px;
                    line-height: 40px;
                    &.require:before {
                        display: block;
                        position: absolute;
                        top: 0;
                        right: -15px;
                        content: '*';
                        width: 15px;
                        height: 40px;
                        line-height: 40px;
                        background: none;
                        font-size: 16px;
                        color: #e9546b;
                        font-weight: bold;
                        text-align: center;
                    }
                    .name {
                        float: left;
                        width: 56px;
                        margin-right: 10px;
                        color: #969696;
                        text-align: right;
                    }
                    .name-l {
                        width: 82px;
                    }
                    > input {
                        float: left;
                        width: 324px;
                        height: 40px;
                        background-color: #f5f5f5;
                        border: 0;
                        border-radius: 2px;
                        text-indent: 10px;
                        &.mobile,
                        &.tel {
                            width: 116px;
                        }
                    }
                    > label {
                        float: left;
                        display: inline-block;
                        &.sel-city {
                            margin-right: 40px;
                        }
                    }
                    select {
                        width: 142px;
                        height: 40px;
                        border: none;
                        background-color: #f5f5f5;
                        text-align: center;
                    }
                    .sel-ext select {
                        width: 324px;
                    }
                }
            }
            .popup-btns {
                margin-top: 30px;
                a {
                    float: left;
                    display: block;
                    width: 94px;
                    height: 40px;
                    background-color: #e9546b;
                    border-radius: 2px;
                    line-height: 40px;
                    text-align: center;
                    color: #fff;
                    &#btn-cancel {
                        margin: 0 12px 0 66px;
                        background-color: #f2b4be;
                    }
                }
            }
        }
    }
}


/* commemorate page */

.commemorate-wrap {
    .header {
        border: 0 !important;
        .tips {
            height: 70px;
            line-height: 70px;
            color: #45515e;
            .number {
                display: inline-block;
                margin-right: 4px;
                font-size: 18px;
                color: #e9546b;
            }
        }
        .btn-add {
            position: relative;
            display: block;
            width: 190px;
            height: 40px;
            background-color: #e9546b;
            border-radius: 2px;
            line-height: 40px;
            color: #fff;
            text-indent: 60px;
            &:after {
                position: absolute;
                top: 10px;
                left: 20px;
                display: block;
                width: 20px;
                height: 20px;
                content: '';
                background: url("../imgs/ucenter/icon_add.png") no-repeat center;
            }
        }
    }
    .body {
        display: none;
        margin-top: 20px;
        .title {
            height: 30px;
            background-color: #f2b4be;
            font-size: 12px;
            line-height: 30px;
            color: #fff;
            span {
                float: left;
                display: block;
                text-align: center;
            }
            span.t-name {
                width: 440px;
                text-align: left;
                text-indent: 24px;
            }
            span.t-date {
                width: 100px;
            }
            span.t-operate {
                width: 320px;
            }
        }
        .commemorate-list {
            .item-info {
                height: 99px;
                border-bottom: 1px solid #f0f0f0;
                >li {
                    float: left;
                    height: 99px;
                    border-right: 1px solid #f0f0f0;
                    font-size: 12px;
                    line-height: 100px;
                    text-align: center;
                }
                >li.i-name {
                    width: 439px;
                    text-align: left;
                    text-indent: 24px;
                }
                >li.i-date {
                    width: 99px;
                }
                >li.i-operate {
                    width: 320px;
                    border: 0;
                    text-align: right;
                    a {
                        display: inline-block;
                        width: 68px;
                        height: 24px;
                        border: 1px solid #45515e;
                        border-radius: 2px;
                        line-height: 24px;
                        text-align: center;
                        color: #45515e;
                        &:hover {
                            text-decoration: underline;
                        }
                        &.btn-update {
                            margin-right: 6px;
                        }
                    }
                }
            }
        }
    }
}


/* address page */

.address-wrap {
    .header {
        border: 0 !important;
        .tips {
            height: 70px;
            line-height: 70px;
            color: #45515e;
            .number {
                display: inline-block;
                margin-right: 4px;
                font-size: 18px;
                color: #e9546b;
            }
        }
        .btn-add {
            position: relative;
            display: block;
            width: 190px;
            height: 40px;
            background-color: #e9546b;
            border-radius: 2px;
            line-height: 40px;
            color: #fff;
            text-indent: 60px;
            &:after {
                position: absolute;
                top: 10px;
                left: 20px;
                display: block;
                width: 20px;
                height: 20px;
                content: '';
                background: url("../imgs/ucenter/icon_add.png") no-repeat center;
            }
        }
    }
    .body {
        display: none;
        margin-top: 20px;
        .title {
            height: 30px;
            background-color: #f2b4be;
            font-size: 12px;
            line-height: 30px;
            color: #fff;
            span {
                float: left;
                display: block;
                text-align: center;
            }
            span.t-name {
                width: 94px;
            }
            span.t-addr {
                width: 400px;
                text-align: left;
                text-indent: 24px;
            }
            span.t-mobile {
                width: 126px;
            }
            span.t-operate {
                width: 240px;
            }
        }
        .address-list {
            .item-info {
                height: 99px;
                border-bottom: 1px solid #f0f0f0;
                >li {
                    float: left;
                    height: 99px;
                    border-right: 1px solid #f0f0f0;
                    font-size: 12px;
                    line-height: 100px;
                    text-align: center;
                }
                >li.i-name {
                    width: 93px;
                }
                >li.i-addr {
                    width: 399px;
                    text-align: left;
                    text-indent: 24px;
                }
                >li.i-mobile {
                    width: 125px;
                }
                >li.i-operate {
                    width: 240px;
                    border: 0;
                    text-align: right;
                    a {
                        display: inline-block;
                        width: 68px;
                        height: 24px;
                        border: 1px solid #45515e;
                        border-radius: 2px;
                        line-height: 24px;
                        text-align: center;
                        color: #45515e;
                        &:hover {
                            text-decoration: underline;
                        }
                        &.btn-update {
                            margin-right: 6px;
                        }
                    }
                }
            }
        }
    }
}
