<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>INCAKE | 购物篮</title>
	<link rel="stylesheet" href="assets/plugins/normalize/normalize.css">
	<link rel="stylesheet" href="assets/plugins/maxlength/jquery.maxlength.css">
	<link rel="stylesheet" href="assets/plugins/cropper/cropper.min.css">
	<link rel="stylesheet" href="assets/css/layout.css">
	<link rel="stylesheet" href="assets/css/basket.css">
	<link rel="shortcut icon" href="favicon.ico" />
</head>
<body>
	<!-- layout begin -->
	<div class="layout">

		<!-- layout header begin -->
		<div class="layout-header" id="layoutHeader">
			<div class="header-body">
				<!-- logo begin -->
				<a href="index.html" class="logo"></a>
				<!-- logo end -->
				<!-- nav begin -->
				<ul class="nav clearfix">
					<li><a href="/index.html">首页</a></li>
					<li class="sub">
						<a href="/list.html">蛋糕馆</a>
						<ul class="subnav">
							<li><a href="javascript:;">芝士系列</a></li>
							<li><a href="javascript:;">巧克力系列</a></li>
							<li><a href="javascript:;">拿破仑系列</a></li>
							<li><a href="javascript:;">慕斯系列</a></li>
							<li><a href="javascript:;">乳脂系列</a></li>
							<li><a href="javascript:;">选拼系列</a></li>
							<li><a href="javascript:;">星座系列</a></li>
							<li><a href="javascript:;">阿狸系列</a></li>
						</ul>
					</li>
					<li><a href="javascript:;">三小时送</a></li>
					<li class="sub">
						<a href="javascript:;">INLIFE</a>
						<ul class="subnav">
							<li><a href="javascript:;">下午茶</a></li>
							<li><a href="javascript:;">鲜花</a></li>
							<li><a href="javascript:;">饮品</a></li>
							<li><a href="javascript:;">礼品</a></li>
						</ul>
					</li>
					<li class="sub">
						<a href="javascript:;">惊喜定制</a>
						<ul class="subnav">
							<li><a href="javascript:;">惊喜蛋糕</a></li>
							<li><a href="javascript:;">翻糖定制</a></li>
							<li><a href="javascript:;">场景定制</a></li>
						</ul>
					</li>
					<li><a href="javascript:;">试吃申请</a></li>
					<li><a href="javascript:;">卡券兑换</a></li>
				</ul>
				<!-- nav end -->
				<!-- portal begin -->
				<div class="portal clearfix">
					<div class="unlogin clearfix">
						<a href="login.html" class="login">登录</a>
						<span>|</span>
						<a href="register.html" class="register">注册</a>
					</div>
					<div class="logined clearfix active">
						<div class="profile-wrap">
							<p class="info">13811112222</p>
							<ul class="plist">
								<li class="active"><a href="javascript:;">个人中心</a></li>
								<li><a href="javascript:;">账户设置</a></li>
								<li><a href="javascript:;">账户优惠券</a></li>
								<li class="last"><a href="javascript:;">退出账号</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- portal end -->
				<!-- basket begin -->
				<div class="basket">
					<a href="javascript:;" class="view"><span>10</span></a>
					<div class="content">
						<span class="arrow-up"></span>
						<ul class="list basket-list"></ul>
						<script id="tplBasketList" type="text/html">
							{{if list.length > 0}}
							{{each list as item i}}
							<li class="clearfix">
								<a href="{{item.link}}" class="img">
									<img src="{{item.thumbUrl}}" alt="">
								</a>
								<div class="text">
									<p class="first-row clearfix">
										<span class="name">{{item.name}}</span>
										<span class="price">￥{{item.price}}</span>
									</p>
									<p class="second-row clearfix">
										<span class="pound">{{item.pound}}磅</span>
										<span class="num">x{{item.num}}</span>
									</p>
								</div>
								<a href="javascript:;" class="remove"></a>
							</li>
							{{/each}}
							{{/if}}
						</script>
						<a href="javascript:;" class="view-basket">查看购物篮 >></a>
					</div>
				</div>
				<!-- basket end -->
				<!-- locator begin -->
				<div class="locator">
					<span class="arrow"></span>
					<p>上海</p>
					<div class="content">
						<span class="arrow-up"></span>
						<p>请选择您要配送的城市：</p>
						<ul class="clearfix">
							<li class="active">上海</li>
							<li>福州</li>
							<li>苏州</li>
							<li>昆山</li>
							<li>厦门</li>
							<li>北京</li>
							<li>南京</li>
							<li>杭州</li>
							<li>青岛</li>
							<li>扬州</li>
						</ul>
					</div>
				</div>
				<!-- locator end -->
			</div>
		</div>
		<!-- layout header end -->

		<!-- layout container begin -->
		<div class="layout-container">

			<!-- basket page begin -->
			<div class="page basket-page" id="basketPage">
				<div class="page-container">

					<!-- basket header begin -->
					<div class="basket-header">
						<div class="title">
							<h2>SHOPPING BASKET</h2>
							<p><span>购物篮</span></p>
						</div>
						<div class="process clearfix">
							<div class="step step1 active">
								<p>我的购物篮</p>
							</div>
							<div class="step step2">
								<p>填写和提交订单信息</p>
							</div>
							<div class="step step3">
								<p>成功提交订单</p>
							</div>
							<div class="line line1 active"></div>
							<div class="line line2"></div>
						</div>
					</div>
					<!-- basket header end -->

					<!-- basket container begin -->
					<div class="basket-container">
						<div class="list-wrapper">
							<p class="list-header clearfix">
								<span class="h-checkall btn-checkall"><i>全选</i></span>
								<span class="h-product">商品</span>
								<span class="h-attr">属性</span>
								<span class="h-amount">数量</span>
								<span class="h-spec">规格</span>
								<span class="h-price">单价</span>
								<span class="h-privilege">优惠</span>
								<span class="h-operate">操作</span>
							</p>
							<div class="list-container">
								<script type="text/html" id="tplSurpriseList">
								{{if list.length != 0}}
								<!-- surprise list begin -->
								<ul class="surprise-list">
									{{each list as item i}}
									{{if item.isSoldout}}
									<li class="item soldout">
									{{else}}
									<li class="item">
									{{/if}}
										<div class="item-content clearfix">
											<div class="c-ckbox">
												<a href="javascript:;" class="btn-ckbox"></a>
											</div>
											<div class="c-product clearfix">
												<a href="{{item.link}}" class="img">
													<img src="{{item.thumbImg}}" alt="">
												</a>
												<div class="text vcenter">
													<div class="vcenter-child">
														<p class="cn">{{item.name.cn}}</p>
														<p class="en">{{item.name.en}}</p>
													</div>
												</div>
											</div>
											<div class="c-attr vcenter">
												<div class="vcenter-child">
													{{each item.attr as attr}}
													<p>{{attr}}</p>
													{{/each}}
												</div>
											</div>
											<div class="c-amount">
												<div class="content clearfix">
													{{if item.amount == 1}}
													<a href="javascript:;" class="btn btn-sub disabled"></a>
													{{else}}
													<a href="javascript:;" class="btn btn-sub"></a>
													{{/if}}
													<div class="amount-wrap">
														<input type="text" class="txt-amount" value="{{item.amount}}">
													</div>
													<a href="javascript:;" class="btn btn-add"></a>
												</div>
											</div>
											<div class="c-spec vcenter">
												<div class="vcenter-child">
													<p>{{item.spec}}</p>
												</div>
											</div>
											<div class="c-price vcenter">
												<div class="vcenter-child">
													<p>¥{{item.price}}</p>
												</div>
											</div>
											<div class="c-privilege vcenter">
												<div class="vcenter-child">{{item.privilege}}</div>
											</div>
											<div class="c-operate vcenter">
												<div class="vcenter-child">
													{{#item.operate}}
												</div>
											</div>
										</div>
										<a href="javascript:;" class="view-surprise">想要的惊喜在这里</a>
										<div class="surprise-wrapper">
											<div class="surprise-container">
												<div class="sec clearfix">
													<p class="title">想要给惊喜的Ta，Ta是谁？</p>
													<div class="content clearfix">
														<div class="radio-box">
															<p class="checked">朋友</p>
														</div>
														<div class="radio-box">
															<p>亲人</p>
														</div>
														<div class="radio-box">
															<p>恋人</p>
														</div>
														<div class="radio-box">
															<p>领导</p>
														</div>
														<div class="radio-box">
															<p>客户</p>
														</div>
														<div class="radio-box">
															<p>Baby</p>
														</div>
														<div class="radio-box other-box clearfix">
															<p>其他</p>
															<input type="text" class="txt-other">
														</div>
													</div>
												</div>
												<div class="sec clearfix">
													<p class="title">想在什么场景下给Ta惊喜？</p>
													<div class="content clearfix">
														<div class="radio-box">
															<p class="checked">生日/祝寿</p>
														</div>
														<div class="radio-box">
															<p>聚会</p>
														</div>
														<div class="radio-box">
															<p>浪漫约会</p>
														</div>
														<div class="radio-box">
															<p>商业合作</p>
														</div>
														<div class="radio-box">
															<p>探病慰问</p>
														</div>
														<div class="radio-box">
															<p>开业庆典</p>
														</div>
														<div class="radio-box">
															<p>致歉</p>
														</div>
														<div class="radio-box other-box clearfix">
															<p>其他</p>
															<input type="text" class="txt-other">
														</div>
													</div>
												</div>
												<div class="sec-summary">
													<p class="title">亲，如您选择了多款惊喜系列蛋糕，并且需要不同惊喜，请备注一下，小IN客服会在第一时间与您沟通。</p>
													<div class="content clearfix">
														<div class="summary-wrap clearfix">
															<textarea class="txt-summary" placeholder="请写下您想要的惊喜，我们为您达成！"></textarea>
														</div>
														<div class="upload-wrap clearfix">
															<div class="img">
																<img src="assets/imgs/basket/img_default.jpg" alt="">
															</div>
															<div class="text">
																<p>有照片有惊喜！(非必填)</p>
																<div class="btns clearfix">
																	<label for="{{item.uniqueId}}" class="btn btn-upload">
																		<span>上传定制照片</span>
																		<input type="file" class="sr-only import-image" data-imgtype="surprise" id="{{item.uniqueId}}" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
																	</label>
																</div>
															</div>
														</div>
													</div>
													<a href="javascript:;" class="btn-confirm">确 定</a>
												</div>
											</div>
										</div>
									</li>
									{{/each}}
								</ul>
								<!-- surprise list end -->
								{{/if}}
								</script>
								<script type="text/html" id="tplRegularList">
								{{if list.length != 0}}
								<!-- regular list begin -->
								<ul class="regular-list">
									{{each list as item i}}
									{{if item.isSoldout}}
									<li class="item soldout">
									{{else}}
									<li class="item">
									{{/if}}
										<div class="item-content clearfix">
											<div class="c-ckbox">
												<a href="javascript:;" class="btn-ckbox"></a>
											</div>
											<div class="c-product clearfix">
												<a href="{{item.link}}" class="img">
													<img src="{{item.thumbImg}}" alt="">
												</a>
												<div class="text vcenter">
													<div class="vcenter-child">
														<p class="cn">{{item.name.cn}}</p>
														<p class="en">{{item.name.en}}</p>
													</div>
												</div>
											</div>
											<div class="c-attr vcenter">
												<div class="vcenter-child">
													{{each item.attr as attr}}
													<p>{{attr}}</p>
													{{/each}}
												</div>
											</div>
											<div class="c-amount">
												<div class="content clearfix">
													{{if item.amount == 1}}
													<a href="javascript:;" class="btn btn-sub disabled"></a>
													{{else}}
													<a href="javascript:;" class="btn btn-sub"></a>
													{{/if}}
													<div class="amount-wrap">
														<input type="text" class="txt-amount" value="{{item.amount}}">
													</div>
													<a href="javascript:;" class="btn btn-add"></a>
												</div>
											</div>
											<div class="c-spec vcenter">
												<div class="vcenter-child">
													<p>{{item.spec}}</p>
												</div>
											</div>
											<div class="c-price vcenter">
												<div class="vcenter-child">
													<p>¥{{item.price}}</p>
												</div>
											</div>
											<div class="c-privilege vcenter">
												<div class="vcenter-child">{{item.privilege}}</div>
											</div>
											<div class="c-operate vcenter">
												<div class="vcenter-child">
													{{#item.operate}}
												</div>
											</div>
										</div>
										{{if item.isImageCake}}
										<a href="javascript:;" class="upload-img">上传照片</a>
										<div class="upload-wrapper">
											<div class="upload-container clearfix">
												<div class="img">
													<img src="assets/imgs/basket/img_default.jpg" alt="">
												</div>
												<div class="text">
													<p>请上传一张照片，我们会美美的安放在画影上哦～</p>
													<label for="{{item.uniqueId}}" class="btn btn-upload">
														<span>上传定制照片</span>
														<input type="file" class="sr-only import-image" data-imgtype="imagecake" id="{{item.uniqueId}}" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
													</label>
												</div>
											</div>
										</div>
										{{/if}}
										{{if item.isAdventuresCake}}
										<a href="javascript:;" class="upload-img">上传照片</a>
										<div class="upload-wrapper">
											<div class="upload-container clearfix">
												<div class="img">
													<img src="assets/imgs/basket/img_default.jpg" alt="">
												</div>
												<div class="text">
													<p>请上传一张照片，我们会美美的安放在寻找爱的冒险上哦～</p>
													<label for="{{item.uniqueId}}" class="btn btn-upload">
														<span>上传定制照片</span>
														<input type="file" class="sr-only import-image" data-imgtype="adventurescake" id="{{item.uniqueId}}" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
													</label>
												</div>
											</div>
										</div>
										{{/if}}
									</li>
									{{/each}}
								</ul>
								<!-- regular list end -->
								{{/if}}
								</script>
								<script type="text/html" id="tplPartList">
								{{if list.length != 0}}
								<!-- part list begin -->
								<ul class="part-list">
									{{each list as item i}}
									{{if item.isSoldout}}
									<li class="item soldout">
									{{else}}
									<li class="item">
									{{/if}}
										<div class="item-content clearfix">
											<div class="c-ckbox">
												<a href="javascript:;" class="btn-ckbox"></a>
											</div>
											<div class="c-product clearfix">
												<a href="{{item.link}}" class="img">
													<img src="{{item.thumbImg}}" alt="">
												</a>
												<div class="text vcenter">
													<div class="vcenter-child">
														<p class="cn">{{item.name.cn}}</p>
														<p class="en">{{item.name.en}}</p>
													</div>
												</div>
											</div>
											<div class="c-attr vcenter">
												<div class="vcenter-child">
													{{each item.attr as attr}}
													<p>{{attr}}</p>
													{{/each}}
												</div>
											</div>
											<div class="c-amount">
												<div class="content clearfix">
													{{if item.amount == 1}}
													<a href="javascript:;" class="btn btn-sub disabled"></a>
													{{else}}
													<a href="javascript:;" class="btn btn-sub"></a>
													{{/if}}
													<div class="amount-wrap">
														<input type="text" class="txt-amount" value="{{item.amount}}">
													</div>
													<a href="javascript:;" class="btn btn-add"></a>
												</div>
											</div>
											<div class="c-spec vcenter">
												<div class="vcenter-child">
													<p>{{item.spec}}</p>
												</div>
											</div>
											<div class="c-price vcenter">
												<div class="vcenter-child">
													<p>¥{{item.price}}</p>
												</div>
											</div>
											<div class="c-privilege vcenter">
												<div class="vcenter-child">{{item.privilege}}</div>
											</div>
											<div class="c-operate vcenter">
												<div class="vcenter-child">
													{{#item.operate}}
												</div>
											</div>
										</div>
									</li>
									{{/each}}
								</ul>
								<!-- part list end -->
								{{/if}}
								</script>

								<!-- empty basket begin -->
								<!-- <a href="list.html" class="empty-basket"></a> -->
								<!-- empty basket end -->
							</div>
							<div class="list-footer clearfix">
								<p class="footer-checkall clearfix">
									<span class="f-checkall btn-checkall">全选</span>
								</p>
								<div class="footer-container clearfix">
									<p class="clearfix">
										<span>已选1件商品</span>
										<span class="tip">(不包含运费)</span>
									</p>
									<p class="clearfix">
										<span>共</span>
										<span class="dollar">¥</span>
										<span class="money">189</span>
									</p>
									<a href="javascript:;" class="btn-settle">去结算</a>
								</div>
							</div>
						</div>
					</div>
					<!-- basket container end -->

					<!-- basket footer begin -->
					<div class="basket-footer">
						<div class="parts-wrapper" id="partsWrapper">
							<p class="parts-header">餐盘和蜡烛</p>
							<div class="parts-container clearfix">
								<div class="part-item">
									<a href="javascript:;" class="img">
										<img src="assets/imgs/parts/plate.jpg" alt="">
									</a>
									<div class="text">
										<p class="name">
											<span class="cn">盘叉</span>
											<span class="en">cake plate</span>
										</p>
										<p class="attr">
											<span class="price">￥2.50</span>
											<span class="pound">/5份</span>
										</p>
										<a href="javascript:;" class="join-basket btn-normal"></a>
									</div>
								</div>
								<div class="part-item">
									<a href="javascript:;" class="img">
										<img src="assets/imgs/parts/candle_numbers.jpg" alt="">
									</a>
									<div class="text">
										<p class="name">
											<span class="cn">数字蜡烛</span>
											<span class="en">number candle</span>
										</p>
										<p class="attr">
											<span class="price">￥2.00</span>
											<span class="pound">/1份</span>
										</p>
										<a href="javascript:;" class="join-basket btn-candle"></a>
									</div>
								</div>
								<div class="part-item">
									<a href="javascript:;" class="img">
										<img src="assets/imgs/parts/candle_iloveyou.jpg" alt="">
									</a>
									<div class="text">
										<p class="name">
											<span class="cn">I love you 蜡烛</span>
											<span class="en">i love you candle</span>
										</p>
										<p class="attr">
											<span class="price">￥8.00</span>
											<span class="pound">/1份</span>
										</p>
										<a href="javascript:;" class="join-basket btn-normal"></a>
									</div>
								</div>
								<div class="part-item">
									<a href="javascript:;" class="img">
										<img src="assets/imgs/parts/candle_happybirthday.jpg" alt="">
									</a>
									<div class="text">
										<p class="name">
											<span class="cn">Happy Birthday 蜡烛</span>
											<span class="en">happy birthday candle</span>
										</p>
										<p class="attr">
											<span class="price">￥10.00</span>
											<span class="pound">/1份</span>
										</p>
										<a href="javascript:;" class="join-basket btn-normal"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- basket footer end -->

				</div>
			</div>
			<!-- basket page end -->

			<!-- mask cropper begin -->
			<div class="mask-imgcropper" id="imgCropper">
				<div class="imgcropper-container">
					<a href="javascript:;" class="close-imgcropper"></a>
					<div class="container-body">
						<img class="image" src="assets/imgs/basket/picture.jpg" alt="">
					</div>
					<div class="container-footer">
						<div class="img-preview"></div>
						<div class="zoom-wrap clearfix">
							<a href="javascript:;" class="zoom zoom-in"></a>
							<a href="javascript:;" class="zoom zoom-out"></a>
						</div>
						<p>鼠标点击图片进行移动</p>
						<div class="operate-wrap clearfix">
							<a href="javascript:;" class="btn-cut">确定裁剪</a>
							<label for="reloadImage" class="btn btn-reload">
								<span>重新上传</span>
								<input type="file" class="sr-only" id="reloadImage" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
							</label>
						</div>
						<p class="tip">提示：如您上传的图片存在问题，请更换为最新版chrome浏览器进行上传。</p>
					</div>
				</div>
			</div>
			<!-- mask cropper end -->

			<!-- mask preview image begin -->
			<div class="mask-imgpreview" id="imgPreview">
				<div class="imgpreview-container">
					<div class="container-body">
						<div class="imagecake-wrapper">
							<img class="image" src="assets/imgs/basket/img_preview.jpg" alt="">
						</div>
					</div>
					<div class="container-footer">
						<div class="operate-wrap clearfix">
							<a href="javascript:;" class="close-imgpreview">关闭</a>
							<label for="reloadImagePreview" class="btn btn-reload">
								<span>重新上传</span>
								<input type="file" class="sr-only reload-preview" id="reloadImagePreview" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
							</label>
						</div>
					</div>
				</div>
			</div>
			<!-- mask preview image end -->

			<!-- mask tip message begin -->
			<div class="mask-tipmsg" id="tipMsg">
				<div class="tipmsg-container">
					<span class="tipmsg-close"></span>
					<div class="container-body vcenter">
						<div class="vcenter-child">
							<p>小IN想对您说：</p>
							<p>您挑选的是惊喜款蛋糕，但是还没有添加惊喜哟，快去打包惊喜吧！</p>
						</div>
					</div>
					<div class="container-footer">
						<a href="javascript:;">现在去填写惊喜</a>
					</div>
				</div>
			</div>
			<!-- mask tip message end -->

			<!-- mask number candle begin -->
			<div class="mask-numbercandle" id="numberCandle">
				<div class="numbercandle-container">
					<span class="numbercandle-close"></span>
					<div class="container-body">
						<ul class="clearfix">
							<li>
								<a href="javascript:;" class="img">
									<img src="assets/imgs/parts/candle_number_01.jpg" alt="">
								</a>
								<div class="operate clearfix">
									<a href="javascript:;" class="num-minus"></a>
									<input type="text" class="txt-num" value="1" readonly>
									<a href="javascript:;" class="num-add"></a>
								</div>
							</li>
							<li>
								<a href="javascript:;" class="img">
									<img src="assets/imgs/parts/candle_number_02.jpg" alt="">
								</a>
								<div class="operate clearfix">
									<a href="javascript:;" class="num-minus"></a>
									<input type="text" class="txt-num" value="1" readonly>
									<a href="javascript:;" class="num-add"></a>
								</div>
							</li>
							<li>
								<a href="javascript:;" class="img">
									<img src="assets/imgs/parts/candle_number_03.jpg" alt="">
								</a>
								<div class="operate clearfix">
									<a href="javascript:;" class="num-minus"></a>
									<input type="text" class="txt-num" value="1" readonly>
									<a href="javascript:;" class="num-add"></a>
								</div>
							</li>
							<li>
								<a href="javascript:;" class="img">
									<img src="assets/imgs/parts/candle_number_04.jpg" alt="">
								</a>
								<div class="operate clearfix">
									<a href="javascript:;" class="num-minus"></a>
									<input type="text" class="txt-num" value="1" readonly>
									<a href="javascript:;" class="num-add"></a>
								</div>
							</li>
							<li>
								<a href="javascript:;" class="img">
									<img src="assets/imgs/parts/candle_number_05.jpg" alt="">
								</a>
								<div class="operate clearfix">
									<a href="javascript:;" class="num-minus"></a>
									<input type="text" class="txt-num" value="1" readonly>
									<a href="javascript:;" class="num-add"></a>
								</div>
							</li>
							<li>
								<a href="javascript:;" class="img">
									<img src="assets/imgs/parts/candle_number_06.jpg" alt="">
								</a>
								<div class="operate clearfix">
									<a href="javascript:;" class="num-minus"></a>
									<input type="text" class="txt-num" value="1" readonly>
									<a href="javascript:;" class="num-add"></a>
								</div>
							</li>
							<li>
								<a href="javascript:;" class="img">
									<img src="assets/imgs/parts/candle_number_07.jpg" alt="">
								</a>
								<div class="operate clearfix">
									<a href="javascript:;" class="num-minus"></a>
									<input type="text" class="txt-num" value="1" readonly>
									<a href="javascript:;" class="num-add"></a>
								</div>
							</li>
							<li>
								<a href="javascript:;" class="img">
									<img src="assets/imgs/parts/candle_number_08.jpg" alt="">
								</a>
								<div class="operate clearfix">
									<a href="javascript:;" class="num-minus"></a>
									<input type="text" class="txt-num" value="1" readonly>
									<a href="javascript:;" class="num-add"></a>
								</div>
							</li>
							<li>
								<a href="javascript:;" class="img">
									<img src="assets/imgs/parts/candle_number_09.jpg" alt="">
								</a>
								<div class="operate clearfix">
									<a href="javascript:;" class="num-minus"></a>
									<input type="text" class="txt-num" value="1" readonly>
									<a href="javascript:;" class="num-add"></a>
								</div>
							</li>
							<li>
								<a href="javascript:;" class="img">
									<img src="assets/imgs/parts/candle_number_00.jpg" alt="">
								</a>
								<div class="operate clearfix">
									<a href="javascript:;" class="num-minus"></a>
									<input type="text" class="txt-num" value="1" readonly>
									<a href="javascript:;" class="num-add"></a>
								</div>
							</li>
						</ul>
					</div>
					<div class="container-footer">
						<a href="javascript:;">确 定</a>
					</div>
				</div>
			</div>
			<!-- mask number candle end -->

		</div>
		<!-- layout container end -->

		<!-- layout footer begin -->
		<div class="layout-footer">
			<div class="footer-body">
				<div class="container">
					<div class="logo"></div>
					<div class="content">
						<p class="nav clearfix">
							<a href="javascript:;">配送范围</a><span>|</span>
							<a href="javascript:;">帮助中心</a><span>|</span>
							<a href="javascript:;">品牌故事</a><span>|</span>
							<a href="javascript:;">关于我们</a><span>|</span>
							<a href="javascript:;">招贤纳士</a>
						</p>
						<p class="hotline clearfix">
							<span>客服热线：</span>
							<span class="tel">400-921-5757</span>
						</p>
						<div class="third-party clearfix">
							<a class="wechat" href="javascript:;"></a>
							<a class="sina" href="javascript:;"></a>
							<a class="qq" href="javascript:;"></a>
							<a class="dianping" href="javascript:;"></a>
						</div>
					</div>
					<div class="qrcode">
						<div class="img"></div>
						<p class="text">微信订购更方便</p>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					<p>
						<span>Copyright &copy;2012-2017 上海印克电子商务股份有限公司 版权所有</span>
						<span>沪ICP备12045835</span>
						<span>沪公网安备31010802001150</span>
					</p>
				</div>
			</div>
		</div>
		<!-- layout footer end -->

	</div>
	<!-- layout end -->

	<!-- javscript begin -->
	<script src="assets/plugins/LABjs/LAB.min.js"></script>
	<script>
		$LAB
		.script('assets/plugins/polyfill/polyfill.min.js').wait()
		.script('assets/plugins/jquery/jquery-1.12.4.min.js').wait()
		.script('assets/plugins/tweenmax/TweenMax.min.js').wait()
		.script('assets/plugins/artTemplate/template.js').wait()
		.script('assets/plugins/maxlength/jquery.plugin.min.js').wait()
		.script('assets/plugins/maxlength/jquery.maxlength.min.js').wait()
		.script('assets/plugins/cropper/cropper.min.js').wait()
		.script('assets/plugins/async/async.min.js').wait()
		.script('assets/plugins/underscore/underscore-min.js').wait()
		.script('assets/js/layout.js').wait()
		.script('assets/js/basket.js');
	</script>
	<!-- javascript end -->
</body>
</html>
