<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>INCAKE | 蛋糕卡兑换结算</title>
	<link rel="stylesheet" href="assets/plugins/normalize/normalize.css">
	<link rel="stylesheet" href="assets/css/layout.css">
	<link rel="stylesheet" href="assets/css/exchange-settlement.css">
	<link rel="shortcut icon" href="favicon.ico" />
</head>
<body>
	<!-- layout begin -->
	<div class="layout">

		<!-- layout header begin -->
		<div class="layout-header" id="layoutHeader">
			<div class="header-body">
				<!-- logo begin -->
				<a href="index.html" class="logo"></a>
				<!-- logo end -->
				<!-- nav begin -->
				<ul class="nav clearfix">
					<li><a href="/index.html">首页</a></li>
					<li class="sub">
						<a href="/list.html">蛋糕馆</a>
						<ul class="subnav">
							<li><a href="javascript:;">芝士系列</a></li>
							<li><a href="javascript:;">巧克力系列</a></li>
							<li><a href="javascript:;">拿破仑系列</a></li>
							<li><a href="javascript:;">慕斯系列</a></li>
							<li><a href="javascript:;">乳脂系列</a></li>
							<li><a href="javascript:;">选拼系列</a></li>
							<li><a href="javascript:;">星座系列</a></li>
							<li><a href="javascript:;">阿狸系列</a></li>
						</ul>
					</li>
					<li><a href="javascript:;">三小时送</a></li>
					<li class="sub">
						<a href="javascript:;">INLIFE</a>
						<ul class="subnav">
							<li><a href="javascript:;">下午茶</a></li>
							<li><a href="javascript:;">鲜花</a></li>
							<li><a href="javascript:;">饮品</a></li>
							<li><a href="javascript:;">礼品</a></li>
						</ul>
					</li>
					<li class="sub">
						<a href="javascript:;">惊喜定制</a>
						<ul class="subnav">
							<li><a href="javascript:;">惊喜蛋糕</a></li>
							<li><a href="javascript:;">翻糖定制</a></li>
							<li><a href="javascript:;">场景定制</a></li>
						</ul>
					</li>
					<li><a href="javascript:;">试吃申请</a></li>
					<li><a href="javascript:;">卡券兑换</a></li>
				</ul>
				<!-- nav end -->
				<!-- portal begin -->
				<div class="portal clearfix">
					<div class="unlogin clearfix">
						<a href="login.html" class="login">登录</a>
						<span>|</span>
						<a href="register.html" class="register">注册</a>
					</div>
					<div class="logined clearfix active">
						<div class="profile-wrap">
							<p class="info">13811112222</p>
							<ul class="plist">
								<li class="active"><a href="javascript:;">个人中心</a></li>
								<li><a href="javascript:;">账户设置</a></li>
								<li><a href="javascript:;">账户优惠券</a></li>
								<li class="last"><a href="javascript:;">退出账号</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- portal end -->
				<!-- basket begin -->
				<div class="basket">
					<a href="javascript:;" class="view"><span>10</span></a>
					<div class="content">
						<span class="arrow-up"></span>
						<ul class="list basket-list"></ul>
						<script id="tplBasketList" type="text/html">
							{{if list.length > 0}}
							{{each list as item i}}
							<li class="clearfix">
								<a href="{{item.link}}" class="img">
									<img src="{{item.thumbUrl}}" alt="">
								</a>
								<div class="text">
									<p class="first-row clearfix">
										<span class="name">{{item.name}}</span>
										<span class="price">￥{{item.price}}</span>
									</p>
									<p class="second-row clearfix">
										<span class="pound">{{item.pound}}磅</span>
										<span class="num">x{{item.num}}</span>
									</p>
								</div>
								<a href="javascript:;" class="remove"></a>
							</li>
							{{/each}}
							{{/if}}
						</script>
						<a href="javascript:;" class="view-basket">查看购物篮 >></a>
					</div>
				</div>
				<!-- basket end -->
				<!-- locator begin -->
				<div class="locator">
					<span class="arrow"></span>
					<p>上海</p>
					<div class="content">
						<span class="arrow-up"></span>
						<p>请选择您要配送的城市：</p>
						<ul class="clearfix">
							<li class="active">上海</li>
							<li>福州</li>
							<li>苏州</li>
							<li>昆山</li>
							<li>厦门</li>
							<li>北京</li>
							<li>南京</li>
							<li>杭州</li>
							<li>青岛</li>
							<li>扬州</li>
						</ul>
					</div>
				</div>
				<!-- locator end -->
			</div>
		</div>
		<!-- layout header end -->

		<!-- layout container begin -->
		<div class="layout-container">
			
			<!-- card exchange page begin -->
			<div class="page exchange-page" id="exchangePage">
				<div class="page-container">
					
					<div class="container-wrap">
						<div class="content">
							<a href="javascript:;" class="btn-page btn-before"></a>
							<a href="javascript:;" class="btn-page btn-after"></a>
							<div class="cakes-wrap">
								<ul class="cakes-list clearfix">
								<style type="text/html" id="tplCakeList">
								{{each list as item i}}
									{{if i % 2 == 0}}
										<li>
											<div class="item item-single">
												<a href="javascript:;" class="item-img"><img src="{{item.imgSrc}}"/></a>
												<p class="item-name"><span class="name-c">{{item.nameC}}</span><span class="name-e">{{item.nameE}}</span></p>
												<p class="item-price"><span class="price">{{item.price}}</span><span class="spec">/{{item.spec}}</span></p>
												<a href="javascript:;" class="btn-buy">立即购买</a>
											</div>
										{{if i == list.length-1 }}
										</li>
										{{/if}}
									{{else}}
											<div class="item item-double">
												<a href="javascript:;" class="item-img"><img src="{{item.imgSrc}}"/></a>
												<p class="item-name"><span class="name-c">{{item.nameC}}</span><span class="name-e">{{item.nameE}}</span></p>
												<p class="item-price"><span class="price">{{item.price}}</span><span class="spec">/{{item.spec}}</span></p>
												<a href="javascript:;" class="btn-buy">立即购买</a>
											</div>
										</li>
									{{/if}}
								{{/each}}
								</style>
								</ul>
							</div>
							<div class="parts-wrap">
								<p class="parts-title">配件添加</p>
								<div class="parts-list clearfix">
									<div class="item item-l">
										<a href="detail.html" class="item-img"><img src="assets/imgs/card-exchange/parts_img.jpg"/></a>
										<p class="item-name"><span class="name-c">刀叉盘</span><span class="name-e">plate</span></p>
										<p class="item-price"><span class="price">¥10</span><span class="spec">/1份</span></p>
										<a href="javascript:;" class="btn-buy btn-plate">立即购买</a>
									</div>
									<div class="item item-r">
										<a href="detail.html" class="item-img"><img src="assets/imgs/card-exchange/parts_img.jpg"/></a>
										<p class="item-name"><span class="name-c">蜡烛</span><span class="name-e">candle</span></p>
										<p class="item-price"><span class="price">¥2</span><span class="spec">/1只</span></p>
										<a href="javascript:;" class="btn-buy btn-candle">立即购买</a>
									</div>
								</div>
							</div>
							<a href="javascript:;" class="btn-settlement">去结算</a>
						</div>
					</div>
					
				</div>
				<!-- mask  begin-->
				<div id="mask-list">
					<div class="popups popup-plate">
						<p class="popup-title">刀叉盘</p>
						<div class="popup-content">
							<p class="popup-info clearfix">
								<a href="javascript:;" class="btns btn-minus"></a>
								<input type="text" value="0" class="number" readonly="readonly"/>
								<a href="javascript:;" class="btns btn-plus active"></a>
							</p>
						</div>
						<p class="popup-btns clearfix">
							<a href="javascript:;" class="btn-cancel">取消</a>
							<a href="javascript:;" class="btn-confirm">确认</a>
						</p>
					</div>
					<div class="popups popup-candle">
						<p class="popup-title">数字蜡烛</p>
						<ul class="popup-content clearfix">
							<script type="text/html" id="tplCandleList">
							{{each list as item i}}
							<li class="clearfix">
								<img src="{{item.imgSrc}}" class="candle-img"/>
								<p class="popup-info clearfix">
									<a href="javascript:;" class="btns btn-minus"></a>
									<input type="text" value="0" class="number" readonly="readonly"/>
									<a href="javascript:;" class="btns btn-plus active"></a>
								</p>
							</li>
							{{/each}}
							</script>
						</ul>
						<p class="popup-btns clearfix">
							<a href="javascript:;" class="btn-cancel">取消</a>
							<a href="javascript:;" class="btn-confirm">确认</a>
						</p>
					</div>
				</div>
				<!-- mask end -->
			</div>
			<!-- card exchange page end -->

		</div>
		<!-- layout container end -->

		<!-- layout footer begin -->
		<div class="layout-footer">
			<div class="footer-body">
				<div class="container">
					<div class="logo"></div>
					<div class="content">
						<p class="nav clearfix">
							<a href="javascript:;">配送范围</a><span>|</span>
							<a href="javascript:;">帮助中心</a><span>|</span>
							<a href="javascript:;">品牌故事</a><span>|</span>
							<a href="javascript:;">关于我们</a><span>|</span>
							<a href="javascript:;">招贤纳士</a>
						</p>
						<p class="hotline clearfix">
							<span>客服热线：</span>
							<span class="tel">400-921-5757</span>
						</p>
						<div class="third-party clearfix">
							<a class="wechat" href="javascript:;"></a>
							<a class="sina" href="javascript:;"></a>
							<a class="qq" href="javascript:;"></a>
							<a class="dianping" href="javascript:;"></a>
						</div>
					</div>
					<div class="qrcode">
						<div class="img"></div>
						<p class="text">微信订购更方便</p>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					<p>
						<span>Copyright &copy;2012-2017 上海印克电子商务股份有限公司 版权所有</span>
						<span>沪ICP备12045835</span>
						<span>沪公网安备31010802001150</span>
					</p>
				</div>				
			</div>
		</div>
		<!-- layout footer end -->

	</div>
	<!-- layout end -->

	<!-- javscript begin -->
	<script src="assets/plugins/LABjs/LAB.min.js"></script>
	<script>
		$LAB
		.script('assets/plugins/polyfill/polyfill.min.js').wait()
		.script('assets/plugins/jquery/jquery-1.12.4.min.js').wait()
		.script('assets/plugins/tweenmax/TweenMax.min.js').wait()
		.script('assets/plugins/artTemplate/template.js').wait()
		.script('assets/plugins/async/async.min.js').wait()
		.script('assets/plugins/maxlength/jquery.plugin.min.js').wait()
		.script('assets/js/layout.js').wait()
		.script('assets/js/exchange-settlement.js');
	</script>
	<!-- javascript end -->
</body>
</html>