<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>INCAKE | 首页</title>
	<link rel="stylesheet" href="assets/plugins/normalize/normalize.css">
	<link rel="stylesheet" href="assets/plugins/swiper/css/idangerous.swiper.css">
	<link rel="stylesheet" href="assets/plugins/liMarquee/css/liMarquee.css">
	<link rel="stylesheet" href="assets/css/layout.css">
	<link rel="stylesheet" href="assets/css/index.css">
	<link rel="shortcut icon" href="favicon.ico" />
</head>
<body>
	<!-- layout begin -->
	<div class="layout">

		<!-- layout header begin -->
		<div class="layout-header" id="layoutHeader">
			<div class="header-body">
				<!-- logo begin -->
				<a href="index.html" class="logo"></a>
				<!-- logo end -->
				<!-- nav begin -->
				<ul class="nav clearfix">
					<li class="active"><a href="/index.html">首页</a></li>
					<li class="sub">
						<a href="/list.html">蛋糕馆</a>
						<ul class="subnav">
							<li><a href="javascript:;">芝士系列</a></li>
							<li><a href="javascript:;">巧克力系列</a></li>
							<li><a href="javascript:;">拿破仑系列</a></li>
							<li><a href="javascript:;">慕斯系列</a></li>
							<li><a href="javascript:;">乳脂系列</a></li>
							<li><a href="javascript:;">选拼系列</a></li>
							<li><a href="javascript:;">星座系列</a></li>
							<li><a href="javascript:;">阿狸系列</a></li>
						</ul>
					</li>
					<li><a href="javascript:;">三小时送</a></li>
					<li class="sub">
						<a href="javascript:;">INLIFE</a>
						<ul class="subnav">
							<li><a href="javascript:;">下午茶</a></li>
							<li><a href="javascript:;">鲜花</a></li>
							<li><a href="javascript:;">饮品</a></li>
							<li><a href="javascript:;">礼品</a></li>
						</ul>
					</li>
					<li class="sub">
						<a href="javascript:;">惊喜定制</a>
						<ul class="subnav">
							<li><a href="javascript:;">惊喜蛋糕</a></li>
							<li><a href="javascript:;">翻糖定制</a></li>
							<li><a href="javascript:;">场景定制</a></li>
						</ul>
					</li>
					<li><a href="javascript:;">试吃申请</a></li>
					<li><a href="javascript:;">卡券兑换</a></li>
				</ul>
				<!-- nav end -->
				<!-- stock code begin -->
				<p class="stock-code">股票代码：837489</p>
				<!-- stock code end -->
				<!-- portal begin -->
				<div class="portal clearfix">
					<div class="unlogin clearfix active">
						<a href="login.html" class="login">登录</a>
						<span>|</span>
						<a href="register.html" class="register">注册</a>
					</div>
					<div class="logined clearfix">
						<div class="profile-wrap">
							<p class="info">13811112222</p>
							<ul class="plist">
								<li class="active"><a href="javascript:;">个人中心</a></li>
								<li><a href="javascript:;">账户设置</a></li>
								<li><a href="javascript:;">账户优惠券</a></li>
								<li class="last"><a href="javascript:;">退出账号</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- portal end -->
				<!-- basket begin -->
				<div class="basket">
					<a href="javascript:;" class="view"><span>10</span></a>
					<div class="content">
						<span class="arrow-up"></span>
						<ul class="list basket-list"></ul>
						<script id="tplBasketList" type="text/html">
							{{if list.length > 0}}
							{{each list as item i}}
							<li class="clearfix">
								<a href="{{item.link}}" class="img">
									<img src="{{item.thumbUrl}}" alt="">
								</a>
								<div class="text">
									<p class="first-row clearfix">
										<span class="name">{{item.name}}</span>
										<span class="price">￥{{item.price}}</span>
									</p>
									<p class="second-row clearfix">
										<span class="pound">{{item.pound}}磅</span>
										<span class="num">x{{item.num}}</span>
									</p>
								</div>
								<a href="javascript:;" class="remove"></a>
							</li>
							{{/each}}
							{{/if}}
						</script>
						<a href="javascript:;" class="view-basket">查看购物篮 >></a>
					</div>
				</div>
				<!-- basket end -->
				<!-- locator begin -->
				<div class="locator">
					<span class="arrow"></span>
					<p>上海</p>
					<div class="content">
						<span class="arrow-up"></span>
						<p>请选择您要配送的城市：</p>
						<ul class="clearfix">
							<li class="active">上海</li>
							<li>福州</li>
							<li>苏州</li>
							<li>昆山</li>
							<li>厦门</li>
							<li>北京</li>
							<li>南京</li>
							<li>杭州</li>
							<li>青岛</li>
							<li>扬州</li>
						</ul>
					</div>
				</div>
				<!-- locator end -->
			</div>
		</div>
		<!-- layout header end -->

		<!-- layout container begin -->
		<div class="layout-container">

			<!-- home page begin -->
			<div class="page home-page" id="homePage">
				<div class="page-container">

					<!-- main notice begin -->
					<div class="main-notice" id="idxNotice">
						<div class="notice-wrapper clearfix">
							<div class="notice-title">公告：</div>
							<div class="notice-content">
								<p>1月3日上海一日三送服务暂不接受订单，请知晓，谢谢。</p>
							</div>
							<a href="javascript:;" class="notice-close"></a>
						</div>
					</div>
					<!-- main notice end -->

					<!-- main slider begin -->
					<div class="main-slider" id="mainSlider">
						<div class="slider-wrapper">
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<a href="javascript:;" class="swiper-slide" data-adtype="活动" data-adtitle="漫画时代">
										<img src="assets/imgs/banner/01.jpg" alt="">
									</a>
									<a href="javascript:;" class="swiper-slide" data-adtype="商品" data-adtitle="阿狸巨蟹座">
										<img src="assets/imgs/banner/01.jpg" alt="">
									</a>
									<a href="javascript:;" class="swiper-slide" data-adtype="其他" data-adtitle="杯子蛋糕">
										<img src="assets/imgs/banner/01.jpg" alt="">
									</a>
								</div>
								<div class="swiper-pagination"></div>
							</div>
							<a href="javascript:;" class="btn-slide prev-slide"></a>
							<a href="javascript:;" class="btn-slide next-slide"></a>
						</div>
					</div>
					<!-- main slider end -->

					<!-- our inspiration begin -->
					<div class="section our-inspiration">
						<div class="section-title">
							<p class="cn">我们的灵感</p>
							<p class="en">OUR INSPIRATION</p>
						</div>
						<div class="section-content">
							<div class="item item-large cake">
								<a href="list.html" class="img">
									<img src="assets/imgs/index/item_cake.jpg" alt="">
								</a>
								<p class="text">蛋糕馆 | CAKE</p>
							</div>
							<div class="item flower">
								<a href="flower.html" class="img">
									<img src="assets/imgs/index/item_flower.jpg" alt="">
								</a>
								<p class="text">鲜花 | FLOWER</p>
							</div>
							<div class="item item-large drink coming-soon">
								<a href="drink.html" class="img">
									<img src="assets/imgs/index/item_drink.jpg" alt="">
								</a>
								<p class="text">翻糖定制 | SUGAR</p>
							</div>
							<div class="item dessert">
								<a href="dessert.html" class="img">
									<img src="assets/imgs/index/item_dessert.jpg" alt="">
								</a>
								<p class="text">甜品 | DESSERT</p>
							</div>
							<div class="item more">
								<a href="more.html" class="img">
									<img src="assets/imgs/index/item_more.jpg" alt="">
								</a>
								<p class="text">惊喜中心 | SURPRISE CENTER</p>
							</div>
							<div class="item cartoon">
								<a href="cartoon.html" class="img">
									<img src="assets/imgs/index/item_cartoon.jpg" alt="">
								</a>
								<p class="text">阿狸专区 | CARTOON</p>
							</div>
						</div>
					</div>
					<!-- our inspiration end -->

					<!-- ad container begin -->
					<div class="ad-container">
						<div class="ad-wrapper">
							<a href="javascript:;" class="ad" data-adtitle="三小时">
								<img src="assets/imgs/index/ad.jpg" alt="">
							</a>
						</div>
					</div>
					<!-- ad container end -->

					<!-- best choice begin -->
					<div class="section best-choice">
						<div class="section-title">
							<p class="cn">当季热卖</p>
							<p class="en">BEST CHOICE</p>
						</div>
						<div class="section-content">
							<ul id="bestChoice" class="list-contents clearfix"></ul>
							<script id="tplBestChoice" type="text/html">
								{{if list.length > 0}}
									{{each list as item i}}
									{{if i%4 === 3}}
									<li class="last-col">
									{{else}}
									<li>
									{{/if}}
										<div class="img">
											<a href="{{item.link}}" class="link">
												<img class="lazy" src="assets/imgs/img_preloading.gif" data-original="{{item.imgUrl}}" alt="">
												{{if item.favor}}
												<span class="favor selected"></span>
												{{else}}
												<span class="favor"></span>
												{{/if}}
											</a>
											<div class="spec">
												<a href="javascript:;" class="spec-close"></a>
												<div class="spec-switcher">
													{{if item.specs.sc.length > 0}}
													<ul class="clearfix">
														<li class="active">惊喜款</li>
														<li>常规款</li>
													</ul>
													{{else}}
													<ul class="clearfix no-sc">
														<li class="active">常规款</li>
													</ul>
													{{/if}}
												</div>
												<div class="spec-container">
													<div class="spec-wrapper clearfix">
														{{if item.specs.sc.length > 0}}
														<div class="spec-box">
															<ul class="pound-list clearfix">
															{{each item.specs.sc as sitem sidx}}
																{{if sidx === 0}}
																<li class="pound-item active" data-price="{{sitem.price}}" data-comment="{{sitem.comment | commentFormat}}">{{sitem.pound}}磅</li>
																{{else}}
																<li class="pound-item" data-price="{{sitem.price}}" data-comment="{{sitem.comment | commentFormat}}">{{sitem.pound}}磅</li>
																{{/if}}
															{{/each}}
															</ul>
															<ul class="comment-list">
															{{each item.specs.sc[0].comment as comment cidx}}
																<li class="comment-item">{{comment}}</li>
															{{/each}}
															</ul>
															<div class="numbers clearfix">
																<a href="javascript:;" class="num-minus"></a>
																<input type="text" class="txt-num" value="1" readonly="readonly">
																<span class="txt-price">¥ <i data-price="{{item.price}}">{{item.price | priceFormat}}</i></span>
																<a href="javascript:;" class="num-add"></a>
															</div>
															<div class="operates clearfix">
																<a href="javascript:;" class="operate operate-buy">立即购买</a>
																<a href="javascript:;" class="operate operate-join-basket">加入购物车</a>
															</div>
														</div>
														{{/if}}
														{{if item.specs.regular.length > 0}}
														<div class="spec-box">
															<ul class="pound-list clearfix">
															{{each item.specs.regular as ritem ridx}}
																{{if ridx === 0}}
																<li class="pound-item active" data-price="{{ritem.price}}" data-comment="{{ritem.comment | commentFormat}}">{{ritem.pound}}磅</li>
																{{else}}
																<li class="pound-item" data-price="{{ritem.price}}" data-comment="{{ritem.comment | commentFormat}}">{{ritem.pound}}磅</li>
																{{/if}}
															{{/each}}
															</ul>
															<ul class="comment-list">
															{{each item.specs.regular[0].comment as comment cidx}}
																<li class="comment-item">{{comment}}</li>
															{{/each}}
															</ul>
															<div class="numbers clearfix">
																<a href="javascript:;" class="num-minus"></a>
																<input type="text" class="txt-num" value="1" readonly="readonly">
																<span class="txt-price">¥ <i data-price="{{item.price}}">{{item.price | priceFormat}}</i></span>
																<a href="javascript:;" class="num-add"></a>
															</div>
															<div class="operates clearfix">
																<a href="javascript:;" class="operate operate-buy">立即购买</a>
																<a href="javascript:;" class="operate operate-join-basket">加入购物车</a>
															</div>
														</div>
														{{/if}}
													</div>
												</div>
											</div>
										</div>
										<div class="text">
											<p class="desc">{{item.desc}}</p>
											<p class="name">
												<span class="cn">{{item.name.cn}}</span>
												<span class="en">{{item.name.en}}</span>
											</p>
											<p class="attr">
												<span class="price">￥{{item.price}}</span>
												<span class="pound">/{{item.pound}}磅</span>
											</p>
											<a href="javascript:;" class="join-basket"></a>
										</div>
									</li>
									{{/each}}
								{{/if}}
							</script>
						</div>
					</div>
					<!-- best choice end -->

					<!-- ads container begin -->
					<div class="ads-container clearfix">
						<a href="javascript:;" data-adtype="商品" data-adtitle="超级蜂巢">
							<img src="assets/imgs/index/ad_01.jpg" alt="">
						</a>
						<a href="javascript:;" data-adtype="商品" data-adtitle="简爱">
							<img src="assets/imgs/index/ad_02.jpg" alt="">
						</a>
						<a href="javascript:;" data-adtype="商品" data-adtitle="奶香巧克力">
							<img src="assets/imgs/index/ad_03.jpg" alt="">
						</a>
					</div>
					<!-- ads container end -->

				</div>
			</div>
			<!-- home page end -->

		</div>
		<!-- layout container end -->

		<!-- layout footer begin -->
		<div class="layout-footer">
			<div class="footer-body">
				<div class="container">
					<div class="logo"></div>
					<div class="content">
						<p class="nav clearfix">
							<a href="javascript:;">配送范围</a><span>|</span>
							<a href="javascript:;">帮助中心</a><span>|</span>
							<a href="javascript:;">品牌故事</a><span>|</span>
							<a href="javascript:;">关于我们</a><span>|</span>
							<a href="javascript:;">招贤纳士</a>
						</p>
						<p class="hotline clearfix">
							<span>客服热线：</span>
							<span class="tel">400-921-5757</span>
						</p>
						<p class="stock-code">股票代码：837489</p>
						<!--<div class="third-party clearfix">
							<a class="wechat" href="javascript:;"></a>
							<a class="sina" href="javascript:;"></a>
							<a class="qq" href="javascript:;"></a>
							<a class="dianping" href="javascript:;"></a>
						</div>-->
					</div>
					<div class="qrcode">
						<div class="img"></div>
						<p class="text">微信订购更方便</p>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					<p>
						<span>Copyright &copy;2012-2017 上海印克电子商务股份有限公司 版权所有</span>
						<span>沪ICP备12045835</span>
						<span>沪公网安备31010802001150</span>
					</p>
				</div>
			</div>
		</div>
		<!-- layout footer end -->

	</div>
	<!-- layout end -->

	<!-- javscript begin -->
	<script src="assets/plugins/LABjs/LAB.min.js"></script>
	<script>
		$LAB
		.script('assets/plugins/polyfill/polyfill.min.js').wait()
		.script('assets/plugins/jquery/jquery-1.12.4.min.js').wait()
		.script('assets/plugins/underscore/underscore-min.js').wait()
		.script('assets/plugins/lazyload/lazyload.transpiled.min.js').wait()
		.script('assets/plugins/swiper/js/idangerous.swiper.min.js').wait()
		.script('assets/plugins/tweenmax/TweenMax.min.js').wait()
		.script('assets/plugins/artTemplate/template.js').wait()
		.script('assets/plugins/liMarquee/js/jquery.liMarquee.js').wait()
		.script('assets/js/layout.js').wait()
		.script('assets/js/index.js');
	</script>
	<!-- javascript end -->
</body>
</html>
