<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>INCAKE | 订单提交</title>
	<link rel="stylesheet" href="assets/plugins/normalize/normalize.css">
	<link rel="stylesheet" href="assets/plugins/pikaday/css/pikaday.css">
	<link rel="stylesheet" href="assets/plugins/maxlength/jquery.maxlength.css">
	<link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">
	<link rel="stylesheet" href="assets/css/layout.css">
	<link rel="stylesheet" href="assets/css/order-submit.css">
	<link rel="shortcut icon" href="favicon.ico" />
</head>
<body>
	<!-- layout begin -->
	<div class="layout">

		<!-- layout header begin -->
		<div class="layout-header" id="layoutHeader">
			<div class="header-body">
				<!-- logo begin -->
				<a href="index.html" class="logo"></a>
				<!-- logo end -->
				<!-- nav begin -->
				<ul class="nav clearfix">
					<li><a href="/index.html">首页</a></li>
					<li class="sub">
						<a href="/list.html">蛋糕馆</a>
						<ul class="subnav">
							<li><a href="javascript:;">芝士系列</a></li>
							<li><a href="javascript:;">巧克力系列</a></li>
							<li><a href="javascript:;">拿破仑系列</a></li>
							<li><a href="javascript:;">慕斯系列</a></li>
							<li><a href="javascript:;">乳脂系列</a></li>
							<li><a href="javascript:;">选拼系列</a></li>
							<li><a href="javascript:;">星座系列</a></li>
							<li><a href="javascript:;">阿狸系列</a></li>
						</ul>
					</li>
					<li><a href="javascript:;">三小时送</a></li>
					<li class="sub">
						<a href="javascript:;">INLIFE</a>
						<ul class="subnav">
							<li><a href="javascript:;">下午茶</a></li>
							<li><a href="javascript:;">鲜花</a></li>
							<li><a href="javascript:;">饮品</a></li>
							<li><a href="javascript:;">礼品</a></li>
						</ul>
					</li>
					<li class="sub">
						<a href="javascript:;">惊喜定制</a>
						<ul class="subnav">
							<li><a href="javascript:;">惊喜蛋糕</a></li>
							<li><a href="javascript:;">翻糖定制</a></li>
							<li><a href="javascript:;">场景定制</a></li>
						</ul>
					</li>
					<li><a href="javascript:;">试吃申请</a></li>
					<li><a href="javascript:;">卡券兑换</a></li>
				</ul>
				<!-- nav end -->
				<!-- portal begin -->
				<div class="portal clearfix">
					<div class="unlogin clearfix">
						<a href="login.html" class="login">登录</a>
						<span>|</span>
						<a href="register.html" class="register">注册</a>
					</div>
					<div class="logined clearfix active">
						<div class="profile-wrap">
							<p class="info">13811112222</p>
							<ul class="plist">
								<li class="active"><a href="javascript:;">个人中心</a></li>
								<li><a href="javascript:;">账户设置</a></li>
								<li><a href="javascript:;">账户优惠券</a></li>
								<li class="last"><a href="javascript:;">退出账号</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- portal end -->
				<!-- basket begin -->
				<div class="basket">
					<a href="javascript:;" class="view"><span>10</span></a>
					<div class="content">
						<span class="arrow-up"></span>
						<ul class="list basket-list"></ul>
						<script id="tplBasketList" type="text/html">
							{{if list.length > 0}}
							{{each list as item i}}
							<li class="clearfix">
								<a href="{{item.link}}" class="img">
									<img src="{{item.thumbUrl}}" alt="">
								</a>
								<div class="text">
									<p class="first-row clearfix">
										<span class="name">{{item.name}}</span>
										<span class="price">￥{{item.price}}</span>
									</p>
									<p class="second-row clearfix">
										<span class="pound">{{item.pound}}磅</span>
										<span class="num">x{{item.num}}</span>
									</p>
								</div>
								<a href="javascript:;" class="remove"></a>
							</li>
							{{/each}}
							{{/if}}
						</script>
						<a href="javascript:;" class="view-basket">查看购物篮 >></a>
					</div>
				</div>
				<!-- basket end -->
				<!-- locator begin -->
				<div class="locator">
					<span class="arrow"></span>
					<p>上海</p>
					<div class="content">
						<span class="arrow-up"></span>
						<p>请选择您要配送的城市：</p>
						<ul class="clearfix">
							<li class="active">上海</li>
							<li>福州</li>
							<li>苏州</li>
							<li>昆山</li>
							<li>厦门</li>
							<li>北京</li>
							<li>南京</li>
							<li>杭州</li>
							<li>青岛</li>
							<li>扬州</li>
						</ul>
					</div>
				</div>
				<!-- locator end -->
			</div>
		</div>
		<!-- layout header end -->

		<!-- layout container begin -->
		<div class="layout-container">

			<!-- settlement page begin -->
			<div class="page settlement-page" id="settlementPage">
				<div class="page-container">
					<!-- settlement header begin -->
					<div class="settlement-header">
						<div class="title">
							<h2>ORDER SETTLEMENT</h2>
							<p><span>订单结算</span></p>
						</div>
						<div class="process clearfix">
							<div class="step step1 passed">
								<p>我的购物篮</p>
							</div>
							<div class="step step2 active">
								<p>填写和提交订单信息</p>
							</div>
							<div class="step step3">
								<p>成功提交订单</p>
							</div>
							<div class="line line1 passed"></div>
							<div class="line line2 active"></div>
						</div>
					</div>
					<!-- settlement header end -->

					<!-- settlement container begin -->
					<div class="settlement-container">
						<div class="list-wrapper">

							<!-- commodityInfo begin -->
							<div class="list-box commodityInfo">
								<h3>商品信息</h3>
								<p class="list-header clearfix">
									<span class="h-product">商品</span>
									<span class="h-attr">属性</span>
									<span class="h-amount">数量</span>
									<span class="h-privilege">优惠购</span>
									<span class="h-price">小计</span>
									<span class="h-activity">优惠</span>
									<span class="h-check">查看</span>
								</p>
								<div class="list-container">
									<script type="text/html" id="tplSurpriseList">
									{{if list.length != 0}}
									<!-- surprise list begin -->
									<ul class="surprise-list">
										{{each list as item i}}
										<li class="item" data-style="惊喜款" data-name="{{item.name.cn}}" data-price="{{item.price}}" data-size="{{item.spec}}" data-amount="{{item.amount}}">
										{{if item.hasPromotion}}
											<p class="item-promotion clearfix">
												<span class="promotion-title">{{item.promotion.title}}</span>
												<span class="promotion-content">{{item.promotion.content}}</span>
												<span class="join-promotion">参与活动</span>
											</p>
										{{/if}}
											<div class="item-content clearfix">
												<div class="c-product clearfix">
													<a href="{{item.link}}" class="img">
														<img src="{{item.thumbImg}}" alt="">
													</a>
													<div class="text vcenter">
														<div class="vcenter-child">
															<p class="cn">{{item.name.cn}}</p>
															<p class="en">{{item.name.en}}</p>
														</div>
													</div>
												</div>
												<div class="c-attr vcenter">
													<div class="vcenter-child">
														<p>¥{{item.price}}&nbsp;/&nbsp;{{item.spec}}</p>
														{{each item.attr as attr}}
														<p>{{attr}}</p>
														{{/each}}
													</div>
												</div>
												<div class="c-amount vcenter">
													<div class="vcenter-child">
														<p>{{item.amount}}</p>
													</div>
												</div>
												<div class="c-privilege vcenter">
													<div class="vcenter-child">
														<p>{{item.privilege.name}}&nbsp;/&nbsp;¥{{item.privilege.price}}</p>
													</div>
												</div>
												<div class="c-price vcenter">
													<div class="vcenter-child">
														<p>¥{{item.subtotal}}</p>
													</div>
												</div>
												<div class="c-activity vcenter">
													<div class="vcenter-child">
														{{#item.discountInfo}}
													</div>
													<div class="popups popup-act">
														<textarea class="txt-popups" placeholder="母亲节写上送给妈妈的话吧！"></textarea>
													</div>
												</div>
												<div class="c-operate vcenter">
													<div class="vcenter-child">
														{{#item.surprise.btns}}
													</div>
													<div class="popups popup-surprise">
														<ul>
															<li class="s-target">想要给惊喜（<span>{{item.surprise.sTarget}}</span>）</li>
															<li class="s-scene">想在（<span>{{item.surprise.sScene}}</span>）场景下给Ta惊喜</li>
															<li class="s-remark clearfix">
																<p class="s-label">备注：</p>
																<p class="remark-text">{{item.surprise.remark}}</p>
															</li>
															<li class="s-photo clearfix">
																<p class="s-label">照片：</p>
																<a href="javascript:;" class="btn-preview"><img src="{{item.surprise.sPhoto}}"/><i></i></a>
																<a href="javascript:;" class="btn-sure">确&nbsp;定</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<!--兜礼 wrapper-->
											<div class="dou-wrapper">
												<p class="desc">兜礼专享折扣</p><p class="discount">立省20元</p>
											</div>
											<!--/兜礼 wrapper-->
										</li>
										{{/each}}
									</ul>
									<!-- surprise list end -->
									{{/if}}
									</script>
									<script type="text/html" id="tplRegularList">
									{{if list.length != 0}}
									<!-- regular list begin -->
									<ul class="regular-list">
										{{each list as item i}}
										<li class="item" data-style="常规款" data-name="{{item.name.cn}}" data-price="{{item.price}}" data-size="{{item.spec}}" data-amount="{{item.amount}}">
										{{if item.hasPromotion}}
											<p class="item-promotion clearfix">
												<span class="promotion-title">{{item.promotion.title}}</span>
												<span class="promotion-content">{{item.promotion.content}}</span>
												<span class="join-promotion">参与活动</span>
											</p>
										{{/if}}
											<div class="item-content clearfix">
												<div class="c-product clearfix">
													<a href="{{item.link}}" class="img">
														<img src="{{item.thumbImg}}" alt="">
													</a>
													<div class="text vcenter">
														<div class="vcenter-child">
															<p class="cn">{{item.name.cn}}</p>
															<p class="en">{{item.name.en}}</p>
														</div>
													</div>
												</div>
												<div class="c-attr vcenter">
													<div class="vcenter-child">
														<p>¥{{item.price}}&nbsp;/&nbsp;{{item.spec}}</p>
														{{each item.attr as attr}}
														<p>{{attr}}</p>
														{{/each}}
													</div>
												</div>
												<div class="c-amount vcenter">
													<div class="vcenter-child">
														<p>{{item.amount}}</p>
													</div>
												</div>
												<div class="c-privilege vcenter">
													<div class="vcenter-child">
														<p>{{item.privilege.name}}&nbsp;/&nbsp;¥{{item.privilege.price}}</p>
													</div>
												</div>
												<div class="c-price vcenter">
													<div class="vcenter-child">
														<p>¥{{item.subtotal}}</p>
													</div>
												</div>
												<div class="c-activity vcenter">
													<div class="vcenter-child">
														{{#item.discountInfo}}
													</div>
													<div class="popups popup-act">
														<textarea class="txt-popups" placeholder="母亲节写上送给妈妈的话吧！"></textarea>
													</div>
												</div>
												<div class="c-operate vcenter">
													<div class="vcenter-child">
														{{#item.imgCake}}
													</div>
												</div>
											</div>
											<!--兜礼 wrapper-->
											<div class="dou-wrapper">
												<p class="desc">兜礼专享折扣</p><p class="discount">立省20元</p>
											</div>
											<!--/兜礼 wrapper-->
										</li>
										{{/each}}
									</ul>
									<!-- regular list end -->
									{{/if}}
									</script>
									<script type="text/html" id="tplInlifeList">
									{{if list.length != 0}}
									<!-- inlife list begin -->
									<ul class="inlife-list">
										{{each list as item i}}
										<li class="item" data-style="小商品" data-name="{{item.name.cn}}" data-price="{{item.price}}" data-size="{{item.spec}}" data-amount="{{item.amount}}">
											<div class="item-content clearfix">
												<div class="c-product clearfix">
													<a href="{{item.link}}" class="img">
														<img src="{{item.thumbImg}}" alt="">
													</a>
													<div class="text vcenter">
														<div class="vcenter-child">
															<p class="cn">{{item.name.cn}}</p>
															<p class="en">{{item.name.en}}</p>
														</div>
													</div>
												</div>
												<div class="c-attr vcenter">
													<div class="vcenter-child">
														<p>¥{{item.price}}&nbsp;/&nbsp;{{item.spec}}</p>
														{{each item.attr as attr}}
														<p>{{attr}}</p>
														{{/each}}
													</div>
												</div>
												<div class="c-amount vcenter">
													<div class="vcenter-child">
														<p>{{item.amount}}</p>
													</div>
												</div>
												<div class="c-privilege vcenter">
													<div class="vcenter-child">
														<p>{{item.privilege.name}}&nbsp;/&nbsp;¥{{item.privilege.price}}</p>
													</div>
												</div>
												<div class="c-price vcenter">
													<div class="vcenter-child">
														<p>¥{{item.subtotal}}</p>
													</div>
												</div>
												<div class="c-activity vcenter">
													<div class="vcenter-child">
														{{#item.discountInfo}}
													</div>
													<div class="popups popup-act">
														<textarea class="txt-popups" placeholder="母亲节写上送给妈妈的话吧！"></textarea>
													</div>
												</div>
												<div class="c-operate vcenter">
													<div class="vcenter-child">
														{{#item.surprise.btns}}
													</div>
													<div class="popups popup-surprise">
														<ul>
															<li class="s-target">想要给惊喜（<span>{{item.surprise.sTarget}}</span>）</li>
															<li class="s-scene">想在（<span>{{item.surprise.sScene}}</span>）场景下给Ta惊喜</li>
															<li class="s-remark clearfix">
																<p class="s-label">备注：</p>
																<p class="remark-text">{{item.surprise.remark}}</p>
															</li>
															<li class="s-photo clearfix">
																<p class="s-label">照片：</p>
																<a href="javascript:;" class="btn-preview"><img src="{{item.surprise.sPhoto}}"/></a>
																<a href="javascript:;" class="btn-sure">确&nbsp;定</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<!--兜礼 wrapper-->
											<div class="dou-wrapper">
												<p class="desc">兜礼专享折扣</p><p class="discount">立省20元</p>
											</div>
											<!--/兜礼 wrapper-->
										</li>
										{{/each}}
									</ul>
									<!-- inlife list end -->
									{{/if}}
									</script>
									<script type="text/html" id="tplAliList">
									{{if list.length != 0}}
									<!-- ali list begin -->
									<ul class="ali-list">
										{{each list as item i}}
										<li class="item" data-style="小商品" data-name="{{item.name.cn}}" data-price="{{item.price}}" data-size="{{item.spec}}" data-amount="{{item.amount}}">
											<div class="item-content clearfix">
												<div class="c-product clearfix">
													<a href="{{item.link}}" class="img">
														<img src="{{item.thumbImg}}" alt="">
													</a>
													<div class="text vcenter">
														<div class="vcenter-child">
															<p class="cn">{{item.name.cn}}</p>
															<p class="en">{{item.name.en}}</p>
														</div>
													</div>
												</div>
												<div class="c-attr vcenter">
													<div class="vcenter-child">
														<p>¥{{item.price}}&nbsp;/&nbsp;{{item.spec}}</p>
														{{each item.attr as attr}}
														<p>{{attr}}</p>
														{{/each}}
													</div>
												</div>
												<div class="c-amount vcenter">
													<div class="vcenter-child">
														<p>{{item.amount}}</p>
													</div>
												</div>
												<div class="c-privilege vcenter">
													<div class="vcenter-child">
														<p>{{item.privilege.name}}&nbsp;/&nbsp;¥{{item.privilege.price}}</p>
													</div>
												</div>
												<div class="c-price vcenter">
													<div class="vcenter-child">
														<p>¥{{item.subtotal}}</p>
													</div>
												</div>
												<div class="c-activity vcenter">
													<div class="vcenter-child">
														{{#item.discountInfo}}
													</div>
													<div class="popups popup-act">
														<textarea class="txt-popups" placeholder="母亲节写上送给妈妈的话吧！"></textarea>
													</div>
												</div>
												<div class="c-operate vcenter">
													<div class="vcenter-child">
														{{#item.surprise.btns}}
													</div>
													<div class="popups popup-surprise">
														<ul>
															<li class="s-target">想要给惊喜（<span>{{item.surprise.sTarget}}</span>）</li>
															<li class="s-scene">想在（<span>{{item.surprise.sScene}}</span>）场景下给Ta惊喜</li>
															<li class="s-remark clearfix">
																<p class="s-label">备注：</p>
																<p class="remark-text">{{item.surprise.remark}}</p>
															</li>
															<li class="s-photo clearfix">
																<p class="s-label">照片：</p>
																<a href="javascript:;" class="btn-preview"><img src="{{item.surprise.sPhoto}}"/></a>
																<a href="javascript:;" class="btn-sure">确&nbsp;定</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<!--兜礼 wrapper-->
											<div class="dou-wrapper">
												<p class="desc">兜礼专享折扣</p><p class="discount">立省20元</p>
											</div>
											<!--/兜礼 wrapper-->
										</li>
										{{/each}}
									</ul>
									<!-- ali list end -->
									{{/if}}
									</script>
									<script type="text/html" id="tplDiyList">
									{{if list.length != 0}}
									<!-- diy list begin -->
									<ul class="diy-list">
										{{each list as item i}}
										<li class="item" data-style="小商品" data-name="{{item.name.cn}}" data-price="{{item.price}}" data-size="{{item.spec}}" data-amount="{{item.amount}}">
											<div class="item-content clearfix">
												<div class="c-product clearfix">
													<a href="{{item.link}}" class="img">
														<img src="{{item.thumbImg}}" alt="">
													</a>
													<div class="text vcenter">
														<div class="vcenter-child">
															<p class="cn">{{item.name.cn}}</p>
															<p class="en">{{item.name.en}}</p>
														</div>
													</div>
												</div>
												<div class="c-attr vcenter">
													<div class="vcenter-child">
														<p>¥{{item.price}}&nbsp;/&nbsp;{{item.spec}}</p>
														{{each item.attr as attr}}
														<p>{{attr}}</p>
														{{/each}}
													</div>
												</div>
												<div class="c-amount vcenter">
													<div class="vcenter-child">
														<p>{{item.amount}}</p>
													</div>
												</div>
												<div class="c-privilege vcenter">
													<div class="vcenter-child">
														<p>{{item.privilege.name}}&nbsp;/&nbsp;¥{{item.privilege.price}}</p>
													</div>
												</div>
												<div class="c-price vcenter">
													<div class="vcenter-child">
														<p>¥{{item.subtotal}}</p>
													</div>
												</div>
												<div class="c-activity vcenter">
													<div class="vcenter-child">
														{{#item.discountInfo}}
													</div>
													<div class="popups popup-act">
														<textarea class="txt-popups" placeholder="母亲节写上送给妈妈的话吧！"></textarea>
													</div>
												</div>
												<div class="c-operate vcenter">
													<div class="vcenter-child">
														{{#item.surprise.btns}}
													</div>
													<div class="popups popup-surprise">
														<ul>
															<li class="s-target">想要给惊喜（<span>{{item.surprise.sTarget}}</span>）</li>
															<li class="s-scene">想在（<span>{{item.surprise.sScene}}</span>）场景下给Ta惊喜</li>
															<li class="s-remark clearfix">
																<p class="s-label">备注：</p>
																<p class="remark-text">{{item.surprise.remark}}</p>
															</li>
															<li class="s-photo clearfix">
																<p class="s-label">照片：</p>
																<a href="javascript:;" class="btn-preview"><img src="{{item.surprise.sPhoto}}"/></a>
																<a href="javascript:;" class="btn-sure">确&nbsp;定</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<!--兜礼 wrapper-->
											<div class="dou-wrapper">
												<p class="desc">兜礼专享折扣</p><p class="discount">立省20元</p>
											</div>
											<!--/兜礼 wrapper-->
										</li>
										{{/each}}
									</ul>
									<!-- diy list end -->
									{{/if}}
									</script>
									<script type="text/html" id="tplPartList">
									{{if list.length != 0}}
									<!-- part list begin -->
									<ul class="part-list">
										{{each list as item i}}
										<li class="item" data-style="小商品" data-name="{{item.name.cn}}" data-price="{{item.price}}" data-size="{{item.spec}}" data-amount="{{item.amount}}">
											<div class="item-content clearfix">
												<div class="c-product clearfix">
													<a href="{{item.link}}" class="img">
														<img src="{{item.thumbImg}}" alt="">
													</a>
													<div class="text vcenter">
														<div class="vcenter-child">
															<p class="cn">{{item.name.cn}}</p>
															<p class="en">{{item.name.en}}</p>
														</div>
													</div>
												</div>
												<div class="c-attr vcenter">
													<div class="vcenter-child">
														<p>¥{{item.price}}&nbsp;/&nbsp;{{item.spec}}</p>
														{{each item.attr as attr}}
														<p>{{attr}}</p>
														{{/each}}
													</div>
												</div>
												<div class="c-amount vcenter">
													<div class="vcenter-child">
														<p>{{item.amount}}</p>
													</div>
												</div>
												<div class="c-privilege vcenter">
													<div class="vcenter-child">
														<p>{{item.privilege.name}}&nbsp;/&nbsp;¥{{item.privilege.price}}</p>
													</div>
												</div>
												<div class="c-price vcenter">
													<div class="vcenter-child">
														<p>¥{{item.subtotal}}</p>
													</div>
												</div>
												<div class="c-activity vcenter">
													<div class="vcenter-child">
														{{#item.discountInfo}}
													</div>
													<div class="popups popup-act">
														<textarea class="txt-popups" placeholder="母亲节写上送给妈妈的话吧！"></textarea>
													</div>
												</div>
												<div class="c-operate vcenter">
													<div class="vcenter-child">
														{{#item.surprise.btns}}
													</div>
													<div class="popups popup-surprise">
														<ul>
															<li class="s-target">想要给惊喜（<span>{{item.surprise.sTarget}}</span>）</li>
															<li class="s-scene">想在（<span>{{item.surprise.sScene}}</span>）场景下给Ta惊喜</li>
															<li class="s-remark clearfix">
																<p class="s-label">备注：</p>
																<p class="remark-text">{{item.surprise.remark}}</p>
															</li>
															<li class="s-photo clearfix">
																<p class="s-label">照片：</p>
																<a href="javascript:;" class="btn-preview"><img src="{{item.surprise.sPhoto}}"/></a>
																<a href="javascript:;" class="btn-sure">确&nbsp;定</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<!--兜礼 wrapper-->
											<div class="dou-wrapper">
												<p class="desc">兜礼专享折扣</p><p class="discount">立省20元</p>
											</div>
											<!--/兜礼 wrapper-->
										</li>
										{{/each}}
									</ul>
									<!-- part list end -->
									{{/if}}
									</script>
								</div>
								<p class="tips">共<span id="count">0</span>个商品</p>
								<p class="btns"><a href="javascript:;" class="btn-fold">收起</a></p>
							</div>
							<!-- commodityInfo end -->

							<!-- addressInfo begin -->
							<div class="list-box addressInfo">
								<h3 class="address-info">配送信息</h3>
								<div class="address-container">
									<script type="text/html" id="tplAddressList">
									{{if list.length > 0}}
										{{if list.length != 1}}
											{{each list as item i}}
												{{if item.isDefault == 'true'}}
												<div class="address-lock clearfix">
													<p class="lock-label">配送地址：</p>
													<p class="lock-info"><span class="i-name">{{item.iName}}</span><span class="i-province">{{item.iProvince}}</span><span class="i-city">{{item.iCity}}</span><span class="i-area">{{item.iArea}}</span><span class="i-street">{{item.iStreet}}</span><span class="i-phone">{{item.iPhone}}</span><span class="i-tel">{{item.iTel}}</span><span class="tip-default">默认地址</span></p>
													<a href="javascript:;" class="btn-lock">设为默认地址</a>
													<a href="javascript:;" class="btn-edit">编辑</a>
													<a href="javascript:;" class="btn-add">新增收货地址</a>
												</div>
												<ul class="address-list">
												{{else}}
												<li>
													<p class="item-info"><span class="i-name">{{item.iName}}</span><span class="i-province">{{item.iProvince}}</span><span class="i-city">{{item.iCity}}</span><span class="i-area">{{item.iArea}}</span><span class="i-street">{{item.iStreet}}</span><span class="i-phone">{{item.iPhone}}</span><span class="i-tel">{{item.iTel}}</span></p>
												</li>
												{{/if}}
											{{/each}}
											</ul>
										{{else}}
										<div class="address-lock clearfix">
											<p class="lock-label">配送地址：</p>
											<p class="lock-info"><span class="i-name">{{list[0].iName}}</span><span class="i-province">{{list[0].iProvince}}</span><span class="i-city">{{list[0].iCity}}</span><span class="i-area">{{list[0].iArea}}</span><span class="i-street">{{list[0].iStreet}}</span><span class="i-phone">{{list[0].iPhone}}</span><span class="i-tel">{{list[0].iTel}}</span><span class="tip-default">默认地址</span></p>
											<a href="javascript:;" class="btn-lock">设为默认地址</a>
											<a href="javascript:;" class="btn-edit">编辑</a>
											<a href="javascript:;" class="btn-add">新增收货地址</a>
										</div>
										{{/if}}
									{{else}}
									<div class="address-lock clearfix">
										<p class="lock-addr">配送地址：</p>
										<a href="javascript:;" class="btn-add">新增收货地址</a>
									</div>
									{{/if}}
									</script>
								</div>
								<p class="btns"><a href="javascript:;" class="btn-fold active">更多</a></p>
								<div class="delivery-time clearfix">
									<p>配送时间：</p>
									<input class="btn-date" id="datepicker" readonly="readonly"/>
									<input class="btn-time" value="9:30-10:30" readonly="readonly"/>
									<div class="popups popup-time">
										<ul>
											<li class="active">9:30-10:30</li>
											<li>10:30-11:30</li>
											<li>11:30-12:30</li>
											<li class="last">12:30-13:30</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- addressInfo end -->

							<!-- cake card begin -->
							<div class="list-box cakeCardInfo">
								<h3 class="cakeCard-info">蛋糕卡</h3>
								<ul class="cakeCard-list clearfix">
									<li><span>ID:12345</span><span class="card-price">¥256</span><a href="javascript:;" class="btn-remove"></a></li>
									<li><span>ID:12345</span><span class="card-price">¥256</span><a href="javascript:;" class="btn-remove"></a></li>
									<li><span>ID:12345</span><span class="card-price">¥256</span><a href="javascript:;" class="btn-remove"></a></li>
									<li><span>ID:12345</span><span class="card-price">¥256</span><a href="javascript:;" class="btn-remove"></a></li>
									<li><span>ID:12345</span><span class="card-price">¥256</span><a href="javascript:;" class="btn-remove"></a></li>
									<li><span>ID:12345</span><span class="card-price">¥256</span><a href="javascript:;" class="btn-remove"></a></li>
								</ul>
								<div class="cakeCard-content">
									<div class="card-type clearfix">
										<p>请输入蛋糕卡ID的后五位：<input type="text" class="card-number"/></p>
										<p>蛋糕卡密码：<input type="password" class="card-pwd"/></p>
										<a href="javascript:;" class="btn-exchange">兑&nbsp;换</a>
									</div>
								</div>
							</div>
							<!-- cake card end -->

							<!-- incake card begin -->
							<div class="list-box incakeCardInfo">
								<h3 class="incakeCard-info">向阳印克卡券</h3>
								<ul class="incakeCard-list clearfix">
									<li><span>ID:1234567890</span><span class="card-price">余额：¥256</span><a href="javascript:;" class="btn-remove"></a></li>
									<li><span>ID:1234567890</span><span class="card-price">余额：¥256</span><a href="javascript:;" class="btn-remove"></a></li>
									<li><span>ID:1234567890</span><span class="card-price">余额：¥256</span><a href="javascript:;" class="btn-remove"></a></li>
									<li><span>ID:1234567890</span><span class="card-price">余额：¥256</span><a href="javascript:;" class="btn-remove"></a></li>
								</ul>
								<div class="incakeCard-content">
									<div class="card-type clearfix">
										<p>请输向阳卡ID：<input type="text" class="card-number"/></p>
										<p>卡密码：<input type="password" class="card-pwd"/></p>
										<a href="javascript:;" class="btn-exchange">兑&nbsp;换</a>
									</div>
								</div>
							</div>
							<!-- incake card end -->

							<!-- payment method begin -->
							<div class="list-box paymentMethod">
								<h3 class="payment-info">支付方式</h3>
								<ul class="payment-list clearfix">
									<li><a href="javascript:;" class="btn-online active">在线支付</a></li>
									<li><a href="javascript:;" class="btn-COD">货到付款</a></li>
									<li><a href="javascript:;" class="btn-card">兑换卡支付</a></li>
								</ul>
								<div class="payment-content">
									<ul class="online-type clearfix">
										<li><a href="javascript:;" class="active"><img src="assets/imgs/basket/pay_type_Alipay.jpg"/></a></li>
										<li><a href="javascript:;"><img src="assets/imgs/basket/pay_type_kq.jpg"/></a></li>
										<li><a href="javascript:;"><img src="assets/imgs/basket/pay_type_jj.jpg"/></a></li>
										<li><a href="javascript:;"><img src="assets/imgs/basket/pay_type_zs.jpg"/></a></li>
										<li><a href="javascript:;"><img src="assets/imgs/basket/pay_type_Alipay.jpg"/></a></li>
										<li><a href="javascript:;"><img src="assets/imgs/basket/pay_type_kq.jpg"/></a></li>
										<li><a href="javascript:;"><img src="assets/imgs/basket/pay_type_jj.jpg"/></a></li>
									</ul>
									<div class="card-type clearfix">
										<p>请输入蛋糕卡ID的后五位：<input type="text" class="card-number"/></p>
										<p>蛋糕卡密码：<input type="password" class="card-pwd"/></p>
										<a href="javascript:;" class="btn-exchange">兑&nbsp;换</a>
									</div>
								</div>
							</div>
							<!-- payment method end -->

							<!-- couponInfo begin -->
							<div class="list-box couponInfo">
								<h3 class="coupon-info">我的优惠券/码</h3>
								<p class="coupon-title clearfix">
									<a href="javascript:;" class="btn-coupon active">优惠券</a>
									<a href="javascript:;" class="btn-code">优惠码</a>
									<a href="javascript:;" class="btn-cash">代金券</a>
									<i>&nbsp;</i>
								</p>
								<div class="coupon-content">
									<div class="coupon-infos active">
									<script type="text/html" id="tplCouponList">
										{{if list.length != 0}}
										<ul class="coupon-list clearfix">
											{{each list as item i}}
											{{if i<4}}
											<li>
												<p>{{item.iName}}</p>
												<a href="javascript:;" class="btn-use">立即使用</a>
											</li>
											{{else}}
											<li class="hide">
												<p>{{item.iName}}</p>
												<a href="javascript:;" class="btn-use">立即使用</a>
											</li>
											{{/if}}
											{{/each}}
										</ul>
										{{/if}}
									</script>
									</div>
									<div class="code-info">
										<p class="clearfix">
											<span>请输入您的优惠码&nbsp;/&nbsp;团购券编号&nbsp;/&nbsp;建行热购卡会员号：</span>
											<input type="text" class="code-number"/>
											<a href="javascript:;" class="btn-reg">点击验证</a>
											<span class="code-result"><i class="code">1234567890</i><i class="remove-code">X</i></span>
										</p>
									</div>
									<div class="cash-info">
									<script type="text/html" id="tplCashList">
										{{if list.length != 0}}
										<ul class="cash-list clearfix">
											{{each list as item i}}
											{{if i<4}}
											<li>
												<p>¥<span>{{item.iPrice}}</span></p>
												<a href="javascript:;" class="btn-use">立即使用</a>
											</li>
											{{else}}
											<li class="hide">
												<p>¥<span>{{item.iPrice}}</span></p>
												<a href="javascript:;" class="btn-use">立即使用</a>
											</li>
											{{/if}}
											{{/each}}
										</ul>
										{{/if}}
									</script>
									</div>
								</div>
								<p class="btns"><a href="javascript:;" class="btn-fold active">更多</a></p>
							</div>
							<!-- couponInfo end -->

							<!-- moreInfo begin -->
							<div class="list-box moreInfo">
								<h3 class="more-info">更多信息</h3>
								<div class="moreInfo-container">
									<script type="text/html" id="tplMoreInfoList">
									{{if list.length > 0}}
										{{if list.length != 1}}
											{{each list as item i}}
												{{if item.isDefault == 'true'}}
												<div class="invoice-lock clearfix">
													<p class="lock-label">发票：</p>
													<p class="lock-info"><span class="i-type">{{item.iType}}</span><span class="i-name">{{item.iName}}</span><span class="i-content">{{item.iContent}}</span><span class="i-code">{{item.iCode}}</span><span class="tip-default">默认发票</span></p>
													<a href="javascript:;" class="btn-lock">设为默认发票</a>
													<a href="javascript:;" class="btn-edit">编辑</a>
													<a href="javascript:;" class="btn-add">新增发票</a>
												</div>
												<ul class="invoice-list">
												{{else}}
												<li>
													<p class="item-info"><span class="i-type">{{item.iType}}</span><span class="i-name">{{item.iName}}</span><span class="i-content">{{item.iContent}}</span><span class="i-code">{{item.iCode}}</span></p>
												</li>
												{{/if}}
											{{/each}}
											</ul>
										{{else}}
										<div class="invoice-lock clearfix">
											<p class="lock-label">发票：</p>
											<p class="lock-info"><span class="i-type">{{list[0].iType}}</span><span class="i-name">{{list[0].iName}}</span><span class="i-content">{{list[0].iContent}}</span><span class="i-code">{{list[0].iCode}}</span><span class="tip-default">默认发票</span></p>
											<a href="javascript:;" class="btn-lock">设为默认发票</a>
											<a href="javascript:;" class="btn-edit">编辑</a>
											<a href="javascript:;" class="btn-add">新增发票</a>
										</div>
										{{/if}}
									{{else}}
									<div class="invoice-lock clearfix">
										<p class="lock-label">配送地址：</p>
										<a href="javascript:;" class="btn-add">新增收货地址</a>
									</div>
									{{/if}}
									</script>
								</div>
								<p class="btns"><a href="javascript:;" class="btn-fold active">更多</a></p>
								<div class="info-other clearfix">
									<p class="i-label">生日牌：</p>
									<input class="btn-birth" value="无" readonly="readonly" />
									<div class="popups popup-birth">
										<ul>
											<li class="active">无</li>
											<li>生日快乐</li>
											<li>Happy Birthday</li>
											<li class="last">自定义</li>
										</ul>
									</div>
									<input type="text" class="txt-birth" placeholder="最多可输入10个汉字或20个字符">
								</div>
								<div class="info-other clearfix">
									<p class="i-label label-r">贺卡：</p>
									<input class="btn-card" value="无" readonly="readonly" />
									<div class="popups popup-card">
										<ul>
											<li class="active">无</li>
											<li class="last">生日</li>
										</ul>
									</div>
									<div class="card-content">
										<textarea class="txt-card" placeholder="请输入贺卡内容，最多可输入200字"></textarea>
									</div>
								</div>
							</div>
							<!-- moreInfo end -->

							<!-- remarksInfo begin -->
							<div class="list-box remarksInfo">
								<h3 class="remarks-info">订单备注</h3>
								<div class="remarks-content">
									<textarea class="txt-remarks" placeholder="如您有其他的要求请注明"></textarea>
								</div>
							</div>
							<!-- remarksInfo end -->

							<!-- summary info begin -->
							<div class="summary-info">
								<p class="s-info">商品总金额：¥<span class="s-total">288</span>&nbsp;，优惠券：¥<span class="s-coupon">30.00</span>&nbsp;，蛋糕卡：¥<span class="s-card">0.00</span>&nbsp;，促销：¥<span class="s-sales">0.00</span>&nbsp;，补差价：¥<span class="s-difference">0.00</span>&nbsp;，运费：¥<span class="s-freight">0.00</span></p>
								<p class="s-price vcenter clearfix">
									<a href="javascript:;" class="btn-payment">去付款</a>
									<span class="s-symbol">.00</span>
									<span class="s-money">189</span>
									<span class="s-symbol">¥</span>
									<span class="s-label">您需要支付：</span>
									<span class="s-tip vcenter-child">看这里看这里看这里看这里看这里看这里看<i class="s-tips">重点来啦重点来啦</i>这里看这里看这里看这里看这里</span>
								</p>
							</div>
							<!-- summary info end -->
						</div>
					</div>
					<!-- settlement container end -->
				</div>

                <!-- mask  begin-->
                <div id="mask-douli">
					<div class="douli-container">
						<i class="icon-close"></i>
						<div class="msg">
							<p>订单已提交</p>
							<p>请在30分钟内抵扣300元</p>
						</div>
						<div class="content">

							<div class="notice">您需要使用30兜礼积分</div>
							<input type="text" class="phoneNum" placeholder="请输入手机号码">
							<div class="code-wrapper">
								<input type="text" class="code" placeholder="请输入验证码">
								<button class="getCode">获取验证码</button>
							</div>
							<div class="wrong-msg">手机号码或验证码错误，请重新输入</div>
								<a href="javascript:;" class="payNow">立即使用</a>
						</div>
					</div>

                </div>
                <!-- mask end -->

				<!-- mask  begin-->
				<div id="mask-list">
					<div class="popups popup-preview">
						<p class="img-wrapper">
							<img src="assets/imgs/basket/img_preview.jpg" />
						</p>
						<a href="javascript:;" class="btn-close">关闭</a>
					</div>
					<div class="popups popup-incakeCard">
						<ul class="popup-info">
							<li>您的向阳印克卡券不可用。如有疑问，请联系客服<span>400&nbsp;921&nbsp;5757</span></li>
						</ul>
						<a href="javascript:;" class="btn-sure">确定</a>
					</div>
					<div class="popups popup-cakeCard">
						<ul class="popup-info">
							<li>小IN想对您说：</li>
							<li>您的蛋糕卡不可用。</li>
							<li>如有疑问，请联系客服<span>400&nbsp;921&nbsp;5757</span></li>
						</ul>
						<a href="javascript:;" class="btn-sure">确定</a>
					</div>
					<div class="popups popup-invoice">
						<p class="popup-title">新增发票</p>
						<ul class="popup-info">
							<li class="clearfix">
								<p class="label">发票类型：</p>
								<p class="invoice-type">普通发票</p>
							</li>
							<li class="clearfix i-must">
								<p class="label">发票抬头：</p>
								<select class="select2" id="invoice_type">
									<option value="个人">个人</option>
									<option value="公司">公司</option>
								</select>
							</li>
							<li class="company-name i-must clearfix">
								<p class="label">公司名称：</p>
								<input type="text" class="invoice-name" placeholder="请输入公司名称" />
							</li>
							<li class="company-code i-must clearfix">
								<p class="label">&nbsp;</p>
								<input type="text" class="invoice-code" placeholder="请输入纳税人识别号" />
							</li>
							<li class="clearfix i-must">
								<p class="label">发票内容：</p>
								<select class="select2" id="invoice_content">
									<option value="蛋糕">蛋糕</option>
									<option value="食品">食品</option>
								</select>
							</li>
						</ul>
						<p class="popup-btns clearfix">
							<a href="javascript:;" class="btn-cancel">取消</a>
							<a href="javascript:;" class="btn-confirm">确认</a>
						</p>
						<input type="hidden" class="option" value="" />
					</div>
					<div class="popups popup-address">
						<p class="popup-title">新增收货地址</p>
						<ul class="popup-info">
							<li class="clearfix i-must">
								<p class="label">收货人：</p>
								<input type="text" class="receiver-name" placeholder="请输入收货人姓名">
							</li>
							<li class="clearfix i-must">
								<p class="label">送货地址：</p>
								<label class="sel-city">
									<select id="select_city" class="select2">
										<option value="0">请选择</option>
										<option value="上海市">上海市</option>
									</select>
								</label>
								<label class="sel-area">
									<select id="select_area" class="select2">
										<option value="0">请选择</option>
										<option value="宝山区">宝山区</option>
										<option value="长宁区">长宁区</option>
										<option value="奉贤区">奉贤区</option>
										<option value="虹口区">虹口区</option>
										<option value="黄浦区">黄浦区</option>
										<option value="嘉定区">嘉定区</option>
										<option value="金山区">金山区</option>
										<option value="静安区">静安区</option>
										<option value="闵行区">闵行区</option>
										<option value="浦东新区">浦东新区</option>
										<option value="普陀区">普陀区</option>
										<option value="青浦区">青浦区</option>
										<option value="松江区">松江区</option>
										<option value="徐汇区">徐汇区</option>
										<option value="杨浦区">杨浦区</option>
										<option value="闸北区">闸北区</option>
									</select>
								</label>
								<label class="sel-ext">
									<select id="select_ext" class="select2">
										<option value="0">请选择</option>
										<option value="外环线以内">外环线以内</option>
										<option value="外环线以外">外环线以外</option>
									</select>
								</label>
							</li>
							<li class="company-name clearfix">
								<p class="label">&nbsp;</p>
								<input type="text" class="address-street" placeholder="请注明街道、门牌号信息">
							</li>
							<li class="clearfix i-must">
								<p class="label">手机：</p>
								<input type="text" class="mobile" placeholder="请输入手机号码">
							</li>
							<li class="clearfix">
								<p class="label">固定电话：</p>
								<input type="text" class="mobile" placeholder="区号 - 电话号码">
							</li>
						</ul>
						<p class="reg-tip">请输入正确的手机号码</p>
						<p class="popup-btns clearfix">
							<a href="javascript:;" id="btn-cancel">取消</a>
							<a href="javascript:;" id="btn-confirm">确认</a>
							<a href="javascript:;" id="btn-logistics">查看配送详情</a>
						</p>
						<input type="hidden" id="option" value="" />
					</div>
				</div>
				<!-- mask end -->

				<!-- mask promotion begin -->
				<div class="mask-promotion-tip" id="maskPromotionTip">
					<div class="promotion-tip">
						<div class="tip-container">
							<div class="content vcenter">
								<p class="vcenter-child">注意哟，参与本活动后，<span>此订单</span>不可再使用其他优惠卡券。</p>
							</div>
						</div>
						<div class="tip-footer clearfix">
							<a href="javascript:;" class="btn-promotion-abort">再考虑一下</a>
							<a href="javascript:;" class="btn-promotion-join">参与活动</a>
						</div>
					</div>
				</div>
				<!-- mask promotion end -->
			</div>
			<!-- settlement page end -->

		</div>
		<!-- layout container end -->

		<!-- layout footer begin -->
		<div class="layout-footer">
			<div class="footer-body">
				<div class="container">
					<div class="logo"></div>
					<div class="content">
						<p class="nav clearfix">
							<a href="javascript:;">配送范围</a><span>|</span>
							<a href="javascript:;">帮助中心</a><span>|</span>
							<a href="javascript:;">品牌故事</a><span>|</span>
							<a href="javascript:;">关于我们</a><span>|</span>
							<a href="javascript:;">招贤纳士</a>
						</p>
						<p class="hotline clearfix">
							<span>客服热线：</span>
							<span class="tel">400-921-5757</span>
						</p>
						<div class="third-party clearfix">
							<a class="wechat" href="javascript:;"></a>
							<a class="sina" href="javascript:;"></a>
							<a class="qq" href="javascript:;"></a>
							<a class="dianping" href="javascript:;"></a>
						</div>
					</div>
					<div class="qrcode">
						<div class="img"></div>
						<p class="text">微信订购更方便</p>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					<p>
						<span>Copyright &copy;2012-2017 上海印克电子商务股份有限公司 版权所有</span>
						<span>沪ICP备12045835</span>
						<span>沪公网安备31010802001150</span>
					</p>
				</div>
			</div>
		</div>
		<!-- layout footer end -->

	</div>
	<!-- layout end -->

	<!-- javscript begin -->
	<script src="assets/plugins/LABjs/LAB.min.js"></script>
	<script>
		$LAB
		.script('assets/plugins/polyfill/polyfill.min.js').wait()
		.script('assets/plugins/jquery/jquery-1.12.4.min.js').wait()
		.script('assets/plugins/tweenmax/TweenMax.min.js').wait()
		.script('assets/plugins/artTemplate/template.js').wait()
		.script('assets/plugins/async/async.min.js').wait()
		.script('assets/plugins/pikaday/js/moment.min.js').wait()
		.script('assets/plugins/pikaday/js/pikaday.js').wait()
		.script('assets/plugins/select2/js/select2.min.js').wait()
		.script('assets/plugins/maxlength/jquery.plugin.min.js').wait()
		.script('assets/plugins/maxlength/jquery.maxlength.min.js').wait()
		.script('assets/js/layout.js').wait()
		.script('assets/js/order-submit.js');
	</script>
	<!-- javascript end -->
</body>
</html>
